start
[{"id":"3eb1025c.4a09e6","type":"tab","label":"Debug and Test","disabled":false,"info":""},{"id":"70ceb75.fc651c8","type":"tab","label":"Smart City - Debug and Test","disabled":false,"info":""},{"id":"97fd7268.4b1968","type":"tab","label":"Smart Campus -  Debug and Test","disabled":false,"info":""},{"id":"d4c0b745.584968","type":"tab","label":"Productive","disabled":false,"info":""},{"id":"825d9825.0bffb","type":"tab","label":"Smart Campus - Productive","disabled":false,"info":""},{"id":"c7bc5ec.5ad642","type":"ui_base","theme":{"name":"theme-custom","lightTheme":{"default":"#0094CE","baseColor":"#004080","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"HS Esslingen","default":"#4B7930","baseColor":"#ff0000","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#4B7930","value":"#ff0000","edited":true},"page-titlebar-backgroundColor":{"value":"#193058","edited":true},"page-backgroundColor":{"value":"#ffffff","edited":true},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":true},"group-textColor":{"value":"#ff0000","edited":true},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#193058","edited":true},"widget-textColor":{"value":"#000000","edited":true},"widget-backgroundColor":{"value":"#ff0000","edited":false},"widget-borderColor":{"value":"#ffffff","edited":true},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Smart Göppingen","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":10,"py":10}}},{"id":"5b23b2da.247de4","type":"ui_tab","z":"","name":"Smart Campus","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"52bcd906.3e166","type":"ui_tab","z":"","name":"Smart City - CO₂","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6450a5ab.6133ac","type":"ui_group","z":"","name":"CO2-Werte","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"97acb2ea.0c0f88","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"4a8815f5.caefdc","type":"ttn app","z":"","appId":"","accessKey":"","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"4b74433f.01bb54","type":"ui_group","z":"","name":"Aktueller CO₂ Wert","tab":"52bcd906.3e166","order":2,"disp":true,"width":"6","collapse":false},{"id":"fe4a79e1.fb5758","type":"ui_group","z":"","name":"CO₂- Verlauf","tab":"52bcd906.3e166","order":3,"disp":true,"width":"8","collapse":false},{"id":"139d903e.575098","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"52bcd906.3e166","order":4,"disp":true,"width":"6","collapse":false},{"id":"223fbae1.7d09be","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"2c4bdbc8.a46d24","type":"ui_tab","z":"","name":"Smart Campus - Parkplätze","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"fbe5fcde.3752c8","type":"ui_tab","z":"","name":"Smart City - Feinstaub","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"a9f0b97b.23707","type":"ui_group","z":"","name":"Aktueller Feinstaub-Wert","tab":"fbe5fcde.3752c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3f532da8.6323ba","type":"ui_tab","z":"","name":"Smart City - NOx","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"55a9789d.173218","type":"ui_tab","z":"","name":"Smart City - Temperatur","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"44414666.18353","type":"ui_tab","z":"","name":"Smart City - Lautstärke","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"ba6890bc.306d68","type":"ui_group","z":"","name":"Aktuelle Temperatur","tab":"55a9789d.173218","order":1,"disp":true,"width":6,"collapse":false},{"id":"464fdeed.ea9a","type":"ui_group","z":"","name":"Temperaturverlauf","tab":"55a9789d.173218","order":2,"disp":true,"width":8,"collapse":false},{"id":"a95cbf7e.32b12","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"df23560a.a1002","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"55a9789d.173218","order":3,"disp":true,"width":6,"collapse":false},{"id":"7be044ae.b7a2c4","type":"ui_group","z":"","name":"Aktueller NOx-Wert","tab":"3f532da8.6323ba","order":1,"disp":true,"width":"6","collapse":false},{"id":"9f5ab8a4.c6062","type":"ui_group","z":"","name":"NOx-Verlauf","tab":"3f532da8.6323ba","order":2,"disp":true,"width":8,"collapse":false},{"id":"c9884ff3.38ab2","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"3f532da8.6323ba","order":3,"disp":true,"width":"6","collapse":false},{"id":"7ead8668.c0ab6","type":"ui_group","z":"","name":"Feinstaub-Verlauf","tab":"fbe5fcde.3752c8","order":2,"disp":true,"width":8,"collapse":false},{"id":"b8998931.3ccfc","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"fbe5fcde.3752c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"6f86ccb6.2ceeb4","type":"ui_group","z":"","name":"Aktueller Lautstärke","tab":"44414666.18353","order":1,"disp":true,"width":"6","collapse":false},{"id":"d941f898.a08398","type":"ui_group","z":"","name":"Lautstärke-Verlauf","tab":"44414666.18353","order":2,"disp":true,"width":8,"collapse":false},{"id":"c4affba5.6ce7d","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"44414666.18353","order":3,"disp":true,"width":6,"collapse":false},{"id":"bf898ec6.beff1","type":"ttn app","z":"","appId":"tempsensor_gp","accessKey":"ttn-account-v2.RV5TQpQN6QNdq8RGdzET7tZl_-ro1FQ3f1D5vEBz9sk","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"a46185fd.5f18c8","type":"ttn app","z":"","appId":"peoplecounter_gp","accessKey":"ttn-account-v2.NKvZAewZz2kxVWuE-mkKxivqK0mSrfcJfnQ6nt1MeAE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"36c31139.5a17de","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iot_lora_data","name":"","usetls":false,"tls":""},{"id":"97daf733.89d538","type":"ttn app","z":"","appId":"parkmonitoring_gp","accessKey":"ttn-account-v2.qf-cXgMTkTKt6ncittkxUZ7FsGXv0wyvdFPRWVzPfKo","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2b8ba58.70f96da","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"c5788b85.5b2578","type":"ui_group","z":"","name":"Temperatur","tab":"5b23b2da.247de4","order":1,"disp":true,"width":"6","collapse":false},{"id":"97b5509a.550b2","type":"ui_group","z":"","name":"Parksensor","tab":"5b23b2da.247de4","order":2,"disp":true,"width":"6","collapse":false},{"id":"9a7cd684.cdd7c","type":"ui_group","z":"","name":"People Counter","tab":"5b23b2da.247de4","order":3,"disp":true,"width":"6","collapse":false},{"id":"518c99b3.f24e78","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7bc3a0cc.4f07c8","type":"ui_tab","z":"","name":"Smart City - Benachrichtigungen","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"6314a1d8.d296e8","type":"ui_group","z":"","name":"Parken","tab":"7bc3a0cc.4f07c8","order":1,"disp":true,"width":"6","collapse":false},{"id":"3efe1e24.f0832a","type":"ui_group","z":"","name":"Müll","tab":"7bc3a0cc.4f07c8","order":2,"disp":true,"width":"6","collapse":false},{"id":"f0ffa21f.8f55a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smart_city","name":"","usetls":false,"tls":""},{"id":"c2c41ee7.9b4148","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":""},{"id":"c0d74b6f.64b0f","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":""},{"id":"89f33ded.9ea0d","type":"ui_group","z":"","name":"Besucherzahl Verlauf","tab":"","disp":true,"width":8,"collapse":false},{"id":"10faad3.2b54353","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"7d804277.124a4c","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"1476bc68.e1293c","type":"ui_group","z":"","name":"Besucherzahl-Verlauf","tab":"","order":2,"disp":true,"width":8,"collapse":false},{"id":"525cee60.908378","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6aa16bb6.358f54","type":"ui_group","z":"","name":"Parken","tab":"2c4bdbc8.a46d24","order":1,"disp":true,"width":"6","collapse":false},{"id":"cb0ea05e.ca8e98","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"c69dd00b.aa4d1","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"cb714864.70276","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"ee083566.55f9f8","type":"ttn app","z":"","appId":"tempsensor_gp","accessKey":"ttn-account-v2.RV5TQpQN6QNdq8RGdzET7tZl_-ro1FQ3f1D5vEBz9sk","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"ee93eb87.94aca","type":"ttn app","z":"","appId":"peoplecounter_gp","accessKey":"ttn-account-v2.NKvZAewZz2kxVWuE-mkKxivqK0mSrfcJfnQ6nt1MeAE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"4c64f981.ec5e28","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"b46530.7c8ae2d","type":"ui_tab","z":"","name":"Smart Campus","icon":"dashboard","order":7,"disabled":false,"hidden":false},{"id":"f29c533b.3a153","type":"ui_tab","z":"","name":"Smart City - CO2 ","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"6ce87f08.1ecf68","type":"ui_group","z":"","name":"CO2-Werte","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"19adcd61.eff753","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"273b509f.af9878","type":"ttn app","z":"","appId":"","accessKey":"","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"de0289af.10bdf8","type":"ui_group","z":"","name":"Aktueller CO2 Wert","tab":"f29c533b.3a153","order":2,"disp":true,"width":"6","collapse":false},{"id":"24e195e0.870242","type":"ui_group","z":"","name":"CO2- Verlauf","tab":"f29c533b.3a153","order":3,"disp":true,"width":8,"collapse":false},{"id":"1fa8147c.6aa8b4","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"f29c533b.3a153","order":4,"disp":true,"width":"6","collapse":false},{"id":"ad2510d.cd8f27","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"9e42b50e.3930f","type":"ui_tab","z":"","name":"Smart Campus - Mensa","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"1845b651.643e1a","type":"ui_tab","z":"","name":"Smart Campus - Parkplätze","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"f82d77b5.3407d8","type":"ui_tab","z":"","name":"Smart City - Feinstaub","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"aa09b82a.b7c8e8","type":"ui_group","z":"","name":"Aktueller Feinstaub-Wert","tab":"f82d77b5.3407d8","order":1,"disp":true,"width":"6","collapse":false},{"id":"d4bda9d3.0c1a18","type":"ui_tab","z":"","name":"Smart City - NOx","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"2fa25167.e9dfbe","type":"ui_tab","z":"","name":"Smart City - Temperatur","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"72b505e8.39aa74","type":"ui_tab","z":"","name":"Smart City - Lautstärke","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"98288b96.0630e8","type":"ui_group","z":"","name":"Aktuelle Temperatur","tab":"2fa25167.e9dfbe","order":1,"disp":true,"width":6,"collapse":false},{"id":"f1b4ede8.a8f4d","type":"ui_group","z":"","name":"Temperaturverlauf","tab":"2fa25167.e9dfbe","order":2,"disp":true,"width":6,"collapse":false},{"id":"8d4b5d0b.3da368","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"93106c61.72a748","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"2fa25167.e9dfbe","order":3,"disp":true,"width":11,"collapse":false},{"id":"804e6f45.e84d8","type":"ui_group","z":"","name":"Aktueller NOx-Wert","tab":"d4bda9d3.0c1a18","order":1,"disp":true,"width":"6","collapse":false},{"id":"bdb0c705.6cf7d","type":"ui_group","z":"","name":"NOx-Verlauf","tab":"d4bda9d3.0c1a18","order":2,"disp":true,"width":"6","collapse":false},{"id":"9d645e77.c659b8","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"d4bda9d3.0c1a18","order":3,"disp":true,"width":"6","collapse":false},{"id":"5e331c69.116114","type":"ui_group","z":"","name":"Feinstaub-Verlauf","tab":"f82d77b5.3407d8","order":2,"disp":true,"width":"6","collapse":false},{"id":"831cb3a8.a5ae4","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"f82d77b5.3407d8","order":3,"disp":true,"width":"6","collapse":false},{"id":"e7103b5d.8c05d8","type":"ui_group","z":"","name":"Aktueller Lautstärke","tab":"72b505e8.39aa74","order":1,"disp":true,"width":"6","collapse":false},{"id":"3e9f05f4.bd36f2","type":"ui_group","z":"","name":"Lautstärke-Verlauf","tab":"72b505e8.39aa74","order":2,"disp":true,"width":6,"collapse":false},{"id":"26ed79ac.064646","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"72b505e8.39aa74","order":3,"disp":true,"width":6,"collapse":false},{"id":"e162d68a.39e28","type":"ttn app","z":"","appId":"tempsensor_gp","accessKey":"ttn-account-v2.RV5TQpQN6QNdq8RGdzET7tZl_-ro1FQ3f1D5vEBz9sk","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"a558ce8b.b31d48","type":"ttn app","z":"","appId":"peoplecounter_gp","accessKey":"ttn-account-v2.NKvZAewZz2kxVWuE-mkKxivqK0mSrfcJfnQ6nt1MeAE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"37fc5ea8.5f4c6a","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iot_lora_data","name":"","usetls":false,"tls":""},{"id":"deab93b9.35442","type":"ttn app","z":"","appId":"parkmonitoring_gp","accessKey":"ttn-account-v2.qf-cXgMTkTKt6ncittkxUZ7FsGXv0wyvdFPRWVzPfKo","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"11ebabd6.bd4d8c","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"ddb9a97.468bc58","type":"ui_group","z":"","name":"Temperatur","tab":"b46530.7c8ae2d","order":1,"disp":true,"width":"6","collapse":false},{"id":"d429ed89.cdc678","type":"ui_group","z":"","name":"Parksensor","tab":"b46530.7c8ae2d","order":2,"disp":true,"width":"6","collapse":false},{"id":"8c8698cf.c5b628","type":"ui_group","z":"","name":"People Counter","tab":"b46530.7c8ae2d","order":3,"disp":true,"width":"6","collapse":false},{"id":"e9d7b116.cf7d98","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"ffb572e3.b487c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"b4fc9c3c.01d61","type":"ui_tab","z":"","name":"Smart City - Benachrichtigungen","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"4d286bdc.6d1aac","type":"ui_group","z":"","name":"Parken","tab":"b4fc9c3c.01d61","order":1,"disp":true,"width":"6","collapse":false},{"id":"b5a21802.e83bf8","type":"ui_group","z":"","name":"Müll","tab":"b4fc9c3c.01d61","order":2,"disp":true,"width":"6","collapse":false},{"id":"56a84514.39b164","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smart_city","name":"","usetls":false,"tls":""},{"id":"9be98745.4d0808","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":""},{"id":"be434ab3.e5c9d8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":""},{"id":"ffb572e3.b487c8","type":"ui_tab","z":"","name":"Smart Campus - Bibliothek","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"e712446f.85d5e8","type":"ui_group","z":"","name":"Besucherzahl Verlauf","tab":"ffb572e3.b487c8","disp":true,"width":"6","collapse":false},{"id":"5a5559f6.f86418","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"ffb572e3.b487c8","order":3,"disp":true,"width":"6","collapse":false},{"id":"ae1b2936.e965c8","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"9e42b50e.3930f","order":1,"disp":true,"width":"6","collapse":false},{"id":"528b22e6.7b94e4","type":"ui_group","z":"","name":"Besucherzahl-Verlauf","tab":"9e42b50e.3930f","order":2,"disp":true,"width":"6","collapse":false},{"id":"4a885a83.f32d24","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"9e42b50e.3930f","order":3,"disp":true,"width":"6","collapse":false},{"id":"b27e604.97f4ba","type":"ui_group","z":"","name":"Parken","tab":"1845b651.643e1a","order":1,"disp":true,"width":"6","collapse":false},{"id":"800d0d47.4342a8","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"73661126.53cdd8","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"aa710dfa.838b9","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"e3494b99.f531c","type":"ui_tab","z":"","name":"Smart City - CO₂","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"5593b26e.2918bc","type":"ui_group","z":"","name":"CO2-Werte","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"38d30455.0b5534","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"e74c5bd.3016128","type":"ttn app","z":"","appId":"","accessKey":"","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"cc89dbc6.6d5018","type":"ui_group","z":"","name":"Aktueller CO₂ Wert","tab":"e3494b99.f531c","order":2,"disp":true,"width":"6","collapse":false},{"id":"5a4ef9c4.bf564","type":"ui_group","z":"","name":"CO₂- Verlauf","tab":"e3494b99.f531c","order":3,"disp":true,"width":"8","collapse":false},{"id":"ede273b8.808b7","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"e3494b99.f531c","order":4,"disp":true,"width":"6","collapse":false},{"id":"b28a9d8d.f7ab1","type":"ui_spacer","name":"spacer","group":"","order":2,"width":6,"height":1},{"id":"609f692d.af7f18","type":"ui_tab","z":"","name":"Smart Campus - Mensa","icon":"dashboard","order":8,"disabled":false,"hidden":false},{"id":"e6db3529.ff3ef","type":"ui_tab","z":"","name":"Smart Campus - Parkplätze","icon":"dashboard","order":10,"disabled":false,"hidden":false},{"id":"9e43fe0d.5d33b","type":"ui_tab","z":"","name":"Smart City - Feinstaub","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5c5e88ee.559738","type":"ui_group","z":"","name":"Aktueller Feinstaub-Wert","tab":"9e43fe0d.5d33b","order":1,"disp":true,"width":"6","collapse":false},{"id":"b2943858.4b705","type":"ui_tab","z":"","name":"Smart City - NOx","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"cb8cc8d4.68937","type":"ui_tab","z":"","name":"Smart City - Temperatur","icon":"dashboard","order":4,"disabled":false,"hidden":false},{"id":"42f352be.d5c504","type":"ui_tab","z":"","name":"Smart City - Lautstärke","icon":"dashboard","order":5,"disabled":false,"hidden":false},{"id":"e144b457.2b5b2","type":"ui_group","z":"","name":"Aktuelle Temperatur","tab":"cb8cc8d4.68937","order":1,"disp":true,"width":6,"collapse":false},{"id":"3fc298d2.46ff08","type":"ui_group","z":"","name":"Temperaturverlauf","tab":"cb8cc8d4.68937","order":2,"disp":true,"width":8,"collapse":false},{"id":"b25e1e14.62084","type":"ui_spacer","name":"spacer","group":"","order":1,"width":1,"height":1},{"id":"c891153c.386728","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"cb8cc8d4.68937","order":3,"disp":true,"width":6,"collapse":false},{"id":"2050d30e.c7604c","type":"ui_group","z":"","name":"Aktueller NOx-Wert","tab":"b2943858.4b705","order":1,"disp":true,"width":"6","collapse":false},{"id":"fdca1521.2d52c8","type":"ui_group","z":"","name":"NOx-Verlauf","tab":"b2943858.4b705","order":2,"disp":true,"width":8,"collapse":false},{"id":"54646a84.dc3ae4","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"b2943858.4b705","order":3,"disp":true,"width":"6","collapse":false},{"id":"cb1bdbb1.a038b","type":"ui_group","z":"","name":"Feinstaub-Verlauf","tab":"9e43fe0d.5d33b","order":2,"disp":true,"width":8,"collapse":false},{"id":"aa404ad2.659bd","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"9e43fe0d.5d33b","order":3,"disp":true,"width":"6","collapse":false},{"id":"e84de748.a9451","type":"ui_group","z":"","name":"Aktueller Lautstärke","tab":"42f352be.d5c504","order":1,"disp":true,"width":"6","collapse":false},{"id":"e54f5d60.be2c38","type":"ui_group","z":"","name":"Lautstärke-Verlauf","tab":"42f352be.d5c504","order":2,"disp":true,"width":8,"collapse":false},{"id":"8fc4c10d.e590c","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"42f352be.d5c504","order":3,"disp":true,"width":6,"collapse":false},{"id":"da7e8277.72a53","type":"ttn app","z":"","appId":"tempsensor_gp","accessKey":"ttn-account-v2.RV5TQpQN6QNdq8RGdzET7tZl_-ro1FQ3f1D5vEBz9sk","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"2c36752.44f830a","type":"ttn app","z":"","appId":"peoplecounter_gp","accessKey":"ttn-account-v2.NKvZAewZz2kxVWuE-mkKxivqK0mSrfcJfnQ6nt1MeAE","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"e281b174.ab7b8","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iot_lora_data","name":"","usetls":false,"tls":""},{"id":"8588dddd.046c48","type":"ttn app","z":"","appId":"parkmonitoring_gp","accessKey":"ttn-account-v2.qf-cXgMTkTKt6ncittkxUZ7FsGXv0wyvdFPRWVzPfKo","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"f6b84e7e.0c8f88","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"dummy_test","name":"","usetls":false,"tls":""},{"id":"5e595b0e.d95484","type":"ui_group","z":"","name":"Temperatur","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"253000b0.df2748","type":"ui_group","z":"","name":"Parksensor","tab":"","order":2,"disp":true,"width":"6","collapse":false},{"id":"4cc9a079.f0dfc","type":"ui_group","z":"","name":"People Counter","tab":"","order":3,"disp":true,"width":"6","collapse":false},{"id":"6cf4ae67.862a58","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"32d13c95.9b4144","order":1,"disp":true,"width":"6","collapse":false},{"id":"c4dbbdf8.abfe7","type":"ui_tab","z":"","name":"Smart City - Benachrichtigungen","icon":"dashboard","order":6,"disabled":false,"hidden":false},{"id":"88a1f77.2c2a508","type":"ui_group","z":"","name":"Parken","tab":"c4dbbdf8.abfe7","order":1,"disp":true,"width":"6","collapse":false},{"id":"374ce372.9c9c84","type":"ui_group","z":"","name":"Müll","tab":"c4dbbdf8.abfe7","order":2,"disp":true,"width":"6","collapse":false},{"id":"e59cbff3.81674","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"smart_city","name":"","usetls":false,"tls":""},{"id":"68710d94.ab33c4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"temperature","name":""},{"id":"76ef77ab.35fb4","type":"influxdb","z":"","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"humidite","name":""},{"id":"32d13c95.9b4144","type":"ui_tab","z":"","name":"Smart Campus - Bibliothek","icon":"dashboard","order":9,"disabled":false,"hidden":false},{"id":"d331b3e2.80cfa8","type":"ui_group","z":"","name":"Besucherzahl Verlauf","tab":"32d13c95.9b4144","order":2,"disp":true,"width":8,"collapse":false},{"id":"cbf72762.6b4f5","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"32d13c95.9b4144","order":3,"disp":true,"width":"6","collapse":false},{"id":"e7c2adb4.c3917","type":"ui_group","z":"","name":"Aktuelle Besucherzahl","tab":"609f692d.af7f18","order":1,"disp":true,"width":"6","collapse":false},{"id":"aae2206d.3575d","type":"ui_group","z":"","name":"Besucherzahl-Verlauf","tab":"609f692d.af7f18","order":2,"disp":true,"width":8,"collapse":false},{"id":"1e481ffe.00a048","type":"ui_group","z":"","name":"Durchschnittswerte","tab":"609f692d.af7f18","order":3,"disp":true,"width":"6","collapse":false},{"id":"3b8d816d.16c4ce","type":"ui_group","z":"","name":"Parken","tab":"e6db3529.ff3ef","order":1,"disp":true,"width":"6","collapse":false},{"id":"1d085edf.031e61","type":"influxdb","z":"70ceb75.fc651c8","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"a92c517c.0060f","type":"ui_group","z":"","name":"Charts","tab":"","order":2,"disp":false,"width":"6"},{"id":"fe8198b0.7c74f8","type":"ui_group","z":"","name":"Inputs","tab":"","order":1,"disp":false,"width":"6"},{"id":"944b2efa.e930f8","type":"ui_group","z":"","name":"Group 3","tab":"","order":3,"disp":false,"width":"6"},{"id":"5caef867.feb588","type":"influxdb","z":"d4c0b745.584968","hostname":"127.0.0.1","port":"8086","database":"aTimeSeries","name":"aTimeSeries"},{"id":"4dec4983.8b2ab8","type":"influxdb out","z":"3eb1025c.4a09e6","influxdb":"f6b84e7e.0c8f88","name":"influx dummy: tempsensors ","measurement":"tempsensors_v1","precision":"","retentionPolicy":"","x":1160,"y":280,"wires":[]},{"id":"3cef10cf.e117e8","type":"inject","z":"3eb1025c.4a09e6","d":true,"name":"temp_sensor_dummy","topic":"","payload":"{\"app_id\":\"tempsensor_gp\",\"dev_id\":\"draginolht65\",\"hardware_serial\":\"A84041000181B137\",\"port\":1,\"counter\":0,\"payload_raw\":[18,51],\"payload_fields\":{\"BatV\":4.659,\"Hum_SHT\":\"0.0\",\"TempC_DS\":\"0.00\",\"TempC_SHT\":\"0.00\"},\"metadata\":{\"time\":\"2019-12-17T19:45:45.760765831Z\"},\"payload\":{\"BatV\":4.659,\"Hum_SHT\":\"0.0\",\"TempC_DS\":\"0.00\",\"TempC_SHT\":\"0.00\"},\"_msgid\":\"4eb455f0.1b209c\"}","payloadType":"json","repeat":"12","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":280,"wires":[["2a928b3b.b9c1cc"]]},{"id":"acf5d6cd.ae36c8","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":320,"wires":[]},{"id":"d70a3034.b30e68","type":"inject","z":"3eb1025c.4a09e6","d":true,"name":"people_counter_dummy","topic":"","payload":"{\"app_id\":\"peoplecounter_gp\",\"dev_id\":\"peoplecounter60\",\"hardware_serial\":\"393435374A377C06\",\"port\":1,\"counter\":0,\"payload_raw\":[1,170,170,10,187,187,22,204,204],\"metadata\":{\"time\":\"2019-12-17T21:49:34.903531091Z\"},\"payload\":[1,170,170,10,187,187,22,204,204],\"_msgid\":\"23b3d0b9.3d5da\"}","payloadType":"json","repeat":"14","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":400,"wires":[["7c5b7702.61d5b"]]},{"id":"92bffb9e.c0fe48","type":"inject","z":"3eb1025c.4a09e6","d":true,"name":"parking_sensor_dummy","topic":"","payload":"{\"app_id\":\"parkmonitoring_gp\",\"dev_id\":\"parksensor08\",\"hardware_serial\":\"FCD6BD0000191408\",\"port\":1,\"counter\":0,\"payload_raw\":[18,49,35],\"payload_fields\":{\"bytes\":\"EjEj\",\"occupied\":false,\"packet_type\":\"Status\",\"port\":1},\"metadata\":{\"time\":\"2019-12-16T22:39:19.649980732Z\"},\"payload\":{\"bytes\":\"EjEj\",\"occupied\":false,\"packet_type\":\"Status\",\"port\":1},\"_msgid\":\"af66b16c.56445\"}","payloadType":"json","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":160,"wires":[["2f919897.8b28a8"]]},{"id":"d430271d.840118","type":"function","z":"3eb1025c.4a09e6","name":"value_modification","func":"var increment = context.get(\"context_increment\") || 0;\nvar amount = 0.05;\n\nvar value = parseFloat(msg.payload.TempC_DS);\nvalue = value + amount * increment;\nmsg.payload.TempC_DS = value.toString();\n\nincrement++;\ncontext.set(\"context_increment\", increment);\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":280,"wires":[["f92fdbd6.b390d"]]},{"id":"bd1fee2.21de21","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":350,"y":560,"wires":[]},{"id":"c4556729.bd701","type":"ttn uplink","z":"d4c0b745.584968","name":"uplink temp","app":"da7e8277.72a53","dev_id":"draginolht65","field":"","x":110,"y":120,"wires":[["34788cec.6ec494","c2f90d0.634b8f"]]},{"id":"2994fd62.49b11a","type":"ttn uplink","z":"d4c0b745.584968","name":"people counter 60","app":"2c36752.44f830a","dev_id":"peoplecounter60","field":"","x":130,"y":360,"wires":[["948f7402.9325","578e5dd9.a8683c"]]},{"id":"ae9649cc.ac722","type":"ttn event","z":"d4c0b745.584968","name":"people counter 60 event","app":"2c36752.44f830a","dev_id":"peoplecounter60","event":"#","x":150,"y":560,"wires":[["bd1fee2.21de21"]]},{"id":"34788cec.6ec494","type":"function","z":"d4c0b745.584968","name":"formatter_temp","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"battery\": msg.payload.BatV,\n    \"humidity\": msg.payload.Hum_SHT,\n    \"temp_1\": msg.payload.TempC_DS,\n    \"temp_2\": msg.payload.TempC_SHT\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":560,"y":120,"wires":[["6cf5e7d0.1e0918","3d44ee44.27ce0a"]]},{"id":"6cf5e7d0.1e0918","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":80,"wires":[]},{"id":"bfc77d2b.7249c8","type":"ttn uplink","z":"d4c0b745.584968","name":"parksensor 06","app":"8588dddd.046c48","dev_id":"parksensor06","field":"","x":120,"y":200,"wires":[["f9bac38e.b426e","a59173b1.48a598"]]},{"id":"6a5e56d2.e7278","type":"ttn uplink","z":"d4c0b745.584968","name":"parksensor 08","app":"8588dddd.046c48","dev_id":"parksensor08","field":"","x":120,"y":280,"wires":[["172fc33d.a12de5","a59173b1.48a598"]]},{"id":"172fc33d.a12de5","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":280,"wires":[]},{"id":"948f7402.9325","type":"function","z":"d4c0b745.584968","name":"decoder","func":"const TYPE_TEMP = 0x01; // temp 2 bytes -3276.8°C -->3276.7°C\nconst TYPE_LTR = 0x0A;  // 2 bytes left-to-right counter\nconst TYPE_RTL = 0x16;  // 2 bytes right-to-left counter \n\nconst UPPER_DATA_BYTE = 1;\nconst LOWER_DATA_BYTE = 2;\nconst BYTE = 8;\n\nconst DATA_TYPE_FIELD = 3;\n\npayload_hex = msg.payload;\n\nfor (var i = 0; (i * DATA_TYPE_FIELD) < payload_hex.length; i++) {\n    \n    var dataChunkStart = (i * DATA_TYPE_FIELD);\n    var dataType = payload_hex[dataChunkStart];\n    var data = (payload_hex[dataChunkStart + UPPER_DATA_BYTE] << BYTE) | (payload_hex[dataChunkStart + LOWER_DATA_BYTE]);\n    \n    var error = false;\n    \n    switch (dataType) {\n        case TYPE_TEMP: // cpu temperature\n            msg.decoded.Temp = Math.floor(bin16dec(data) / 10);\n            break;\n            \n        case TYPE_LTR: // left-to-right counter\n            msg.decoded.LTR = data;\n            break;\n            \n        case TYPE_RTL: // right-to-left counter\n            msg.decoded.RTL = data;\n            break;\n        \n        default: //something is wrong with data, return empty\n            node.log(\"error: \" + dataType);\n            return {};\n    }\n}\n     \nreturn msg;\n     \nfunction bin16dec(bin) {\n    var num = bin & 0xFFFF;\n    if (0x8000 & num) num = -(0x010000 - num);\n    return num;\n}","outputs":1,"noerr":0,"x":540,"y":400,"wires":[["add225cf.1e12b"]]},{"id":"19480967.301ea7","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":990,"y":360,"wires":[]},{"id":"851eaa07.29751","type":"ttn uplink","z":"d4c0b745.584968","name":"people counter 61","app":"2c36752.44f830a","dev_id":"peoplecounter61","field":"","x":130,"y":440,"wires":[["948f7402.9325","b096aa8.8aa14d8"]]},{"id":"9618e74c.d9be28","type":"influxdb out","z":"d4c0b745.584968","influxdb":"e281b174.ab7b8","name":"influx: peoplecounters","measurement":"peoplecounters_1","precision":"","retentionPolicy":"","x":1040,"y":400,"wires":[]},{"id":"c2f90d0.634b8f","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":80,"wires":[]},{"id":"b096aa8.8aa14d8","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":440,"wires":[]},{"id":"578e5dd9.a8683c","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":360,"wires":[]},{"id":"f9bac38e.b426e","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":530,"y":200,"wires":[]},{"id":"a59173b1.48a598","type":"function","z":"d4c0b745.584968","name":"formatter_parking","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"occupied\": msg.payload.occupied\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":570,"y":240,"wires":[["6f200dcb.54341c","d31077a5.e196c"]]},{"id":"6f200dcb.54341c","type":"influxdb out","z":"d4c0b745.584968","influxdb":"e281b174.ab7b8","name":"influx: parkingsensors","measurement":"parkingsensors_v1","precision":"","retentionPolicy":"","x":920,"y":240,"wires":[]},{"id":"d31077a5.e196c","type":"debug","z":"d4c0b745.584968","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":870,"y":200,"wires":[]},{"id":"3d44ee44.27ce0a","type":"influxdb out","z":"d4c0b745.584968","influxdb":"e281b174.ab7b8","name":"influx: tempsensors_v1","measurement":"tempsensors_v1","precision":"","retentionPolicy":"","x":930,"y":120,"wires":[]},{"id":"1d366e49.f795fa","type":"function","z":"3eb1025c.4a09e6","name":"decoderPCR2","func":"const TYPE_TEMP = 0x01; // temp 2 bytes -3276.8°C -->3276.7°C\nconst TYPE_LTR = 0x0A;  // 2 bytes left-to-right counter\nconst TYPE_RTL = 0x16;  // 2 bytes right-to-left counter \n\nconst UPPER_DATA_BYTE = 1;\nconst LOWER_DATA_BYTE = 2;\nconst BYTE = 8;\n\nconst DATA_TYPE_FIELD = 3;\n\npayload_hex = msg.payload;\n\nfor (var i = 0; (i * DATA_TYPE_FIELD) < payload_hex.length; i++) {\n    \n    var dataChunkStart = (i * DATA_TYPE_FIELD);\n    var dataType = payload_hex[dataChunkStart];\n    var data = (payload_hex[dataChunkStart + UPPER_DATA_BYTE] << BYTE) | (payload_hex[dataChunkStart + LOWER_DATA_BYTE]);\n    \n    var error = false;\n    \n    switch (dataType) {\n        case TYPE_TEMP: // cpu temperature\n            msg.decoded.Temp = Math.floor(bin16dec(data) / 10);\n            break;\n            \n        case TYPE_LTR: // left-to-right counter\n            msg.decoded.LTR = data;\n            break;\n            \n        case TYPE_RTL: // right-to-left counter\n            msg.decoded.RTL = data;\n            break;\n        \n        default: //something is wrong with data, return empty\n            node.log(\"error: \" + dataType);\n            return {};\n    }\n}\n     \nreturn msg;\n     \nfunction bin16dec(bin) {\n    var num = bin & 0xFFFF;\n    if (0x8000 & num) num = -(0x010000 - num);\n    return num;\n}","outputs":1,"noerr":0,"x":520,"y":500,"wires":[["d2720153.7fac28"]]},{"id":"ee0523.b48ccae","type":"influxdb out","z":"3eb1025c.4a09e6","influxdb":"f6b84e7e.0c8f88","name":"influx dummy: peoplecounters","measurement":"peoplecounters_v1","precision":"","retentionPolicy":"","x":1170,"y":400,"wires":[]},{"id":"bf705e36.738fa8","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1090,"y":440,"wires":[]},{"id":"2a9b75c0.28b71a","type":"function","z":"3eb1025c.4a09e6","name":"formatter_parking","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"occupied\": msg.payload.occupied\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":890,"y":160,"wires":[["c7bcd90c.815ae8","68c47482.644d6c"]]},{"id":"c7bcd90c.815ae8","type":"influxdb out","z":"3eb1025c.4a09e6","influxdb":"f6b84e7e.0c8f88","name":"influx dummy: parkingsensors","measurement":"parkingsensors_v1","precision":"","retentionPolicy":"","x":1170,"y":160,"wires":[]},{"id":"7c5b7702.61d5b","type":"function","z":"3eb1025c.4a09e6","name":"payload_to_message","func":"var newMsg = msg.payload\n\nnewMsg[\"decoded\"] = {\n    \"Temp\":0,\n    \"LTR\":0,\n    \"RTL\":0\n};\n\nreturn newMsg;","outputs":1,"noerr":0,"x":420,"y":400,"wires":[["1d366e49.f795fa"]],"info":"switches an entire message in from an inject payload to a new message object"},{"id":"2a928b3b.b9c1cc","type":"function","z":"3eb1025c.4a09e6","name":"payload_to_message","func":"var newMsg = msg.payload\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":280,"wires":[["d430271d.840118"]]},{"id":"2f919897.8b28a8","type":"function","z":"3eb1025c.4a09e6","name":"payload_to_message","func":"var newMsg = msg.payload\n\nreturn newMsg;","outputs":1,"noerr":0,"x":440,"y":160,"wires":[["aa842a87.f4ff9"]]},{"id":"aa842a87.f4ff9","type":"function","z":"3eb1025c.4a09e6","name":"value_modification","func":"var status = context.get(\"context_status\") || false;\n\n//just toggle the indicator flag\n\nif(status) {\n    msg.payload.occupied = true;\n} else {\n    msg.payload.occupied = false;\n}\n\ncontext.set(\"context_status\", !status);\n\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":160,"wires":[["2a9b75c0.28b71a"]]},{"id":"dda52ab8.ec11e","type":"function","z":"3eb1025c.4a09e6","name":"formatter_peoplecount","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"LTR\": msg.decoded.LTR,\n    \"RTL\": msg.decoded.RTL,\n    \"cpu_temp\": msg.decoded.Temp,\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":880,"y":400,"wires":[["bf705e36.738fa8","ee0523.b48ccae"]]},{"id":"f92fdbd6.b390d","type":"function","z":"3eb1025c.4a09e6","name":"formatter_temp","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"battery\": msg.payload.BatV,\n    \"humidity\": msg.payload.Hum_SHT,\n    \"temp_1\": msg.payload.TempC_DS,\n    \"temp_2\": msg.payload.TempC_SHT\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":900,"y":280,"wires":[["4dec4983.8b2ab8","acf5d6cd.ae36c8"]]},{"id":"d2720153.7fac28","type":"function","z":"3eb1025c.4a09e6","name":"value_modification","func":"var increment = context.get(\"context_increment_ppl\") || 0;\nvar amount = 5;\n\nvar ltrVal = msg.decoded.LTR + amount * increment;\nmsg.decoded.LTR = ltrVal;\n\nvar rtlVal = msg.decoded.RTL - amount * increment;\nmsg.decoded.RTL = rtlVal;\n\nincrement++;\ncontext.set(\"context_increment_ppl\", increment);\n\nreturn msg;","outputs":1,"noerr":0,"x":730,"y":500,"wires":[["dda52ab8.ec11e"]]},{"id":"add225cf.1e12b","type":"function","z":"d4c0b745.584968","name":"formatter_peoplecount","func":"var msg_send = {};\n\nmsg_send.payload = \n{\n    \"create_time\": msg.metadata.time,\n    \"app_id\": msg.app_id,\n    \"dev_id\": msg.dev_id,\n    \"serial\": msg.hardware_serial,\n    \"LTR\": msg.decoded.LTR,\n    \"RTL\": msg.decoded.RTL,\n    \"cpu_temp\": msg.decoded.Temp,\n};\n\nreturn msg_send;","outputs":1,"noerr":0,"x":740,"y":400,"wires":[["9618e74c.d9be28","19480967.301ea7"]]},{"id":"b8ba7e4a.c63798","type":"function","z":"70ceb75.fc651c8","name":"Temperatur","func":"msg.payload = msg.payload.Temp;\nmsg.topic = 'Temperatur';\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":220,"wires":[["356aa28f.8aa3e6","11c7d546.364e5b","59a868ca.986948"]]},{"id":"356aa28f.8aa3e6","type":"ui_gauge","z":"70ceb75.fc651c8","name":"","group":"e144b457.2b5b2","order":1,"width":0,"height":0,"gtype":"gage","title":"Temperatur","label":"","format":"{{value}} °C","min":"-10","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"25","x":1750,"y":220,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"11c7d546.364e5b","type":"ui_text","z":"70ceb75.fc651c8","group":"e144b457.2b5b2","order":2,"width":0,"height":0,"name":"","label":"Temperatur","format":"{{msg.payload}} °C","layout":"row-spread","x":1750,"y":180,"wires":[]},{"id":"95c61fed.1d99c8","type":"function","z":"70ceb75.fc651c8","name":"CO₂","func":"msg.payload = msg.payload.CO2;\nmsg.topic = 'CO₂';\nreturn msg;","outputs":1,"noerr":0,"x":910,"y":720,"wires":[["2a5c3a3e.c261b6","8d03eb14.5b5bf8","6ed9fe0b.7c453"]]},{"id":"2a5c3a3e.c261b6","type":"ui_gauge","z":"70ceb75.fc651c8","name":"","group":"cc89dbc6.6d5018","order":1,"width":0,"height":0,"gtype":"gage","title":"CO₂","label":"","format":"{{value}} ppm","min":"0","max":"600","colors":["#00b500","#e6e600","#ca3838"],"seg1":"250","seg2":"300","x":1770,"y":720,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"8d03eb14.5b5bf8","type":"ui_text","z":"70ceb75.fc651c8","group":"cc89dbc6.6d5018","order":2,"width":0,"height":0,"name":"","label":"CO₂","format":"{{msg.payload}} ppm","layout":"row-spread","x":1770,"y":680,"wires":[]},{"id":"2dc20c1.b5006f4","type":"function","z":"70ceb75.fc651c8","name":"NOx","func":"msg.payload = msg.payload.Nox;\nmsg.topic = 'NOx';\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":1200,"wires":[["f02ae5c7.b7a898","cbd27fde.ee6648","74c895c3.ff9ff4"]]},{"id":"f02ae5c7.b7a898","type":"ui_gauge","z":"70ceb75.fc651c8","name":"","group":"2050d30e.c7604c","order":1,"width":0,"height":0,"gtype":"gage","title":"NOx","label":"","format":"{{value}} ppm","min":"0","max":"400","colors":["#00b500","#e6e600","#ca3838"],"seg1":"230","seg2":"280","x":1770,"y":1160,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"cbd27fde.ee6648","type":"ui_text","z":"70ceb75.fc651c8","group":"2050d30e.c7604c","order":2,"width":0,"height":0,"name":"","label":"NOx","format":"{{msg.payload}} ppm","layout":"row-spread","x":1770,"y":1120,"wires":[]},{"id":"7fd9ca86.117294","type":"function","z":"70ceb75.fc651c8","name":"Feinstaub","func":"msg.payload = msg.payload.Feinstaub;\nmsg.topic = 'Feinstaub';\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1640,"wires":[["c3a39d83.ba1ff","f533565e.02c9e8","f4ae1585.3548c"]]},{"id":"c3a39d83.ba1ff","type":"ui_gauge","z":"70ceb75.fc651c8","name":"","group":"5c5e88ee.559738","order":1,"width":0,"height":0,"gtype":"gage","title":"Feinstaub","label":"","format":"{{value}} µm/m³","min":"0","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"40","seg2":"70","x":920,"y":1640,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"f533565e.02c9e8","type":"ui_text","z":"70ceb75.fc651c8","group":"5c5e88ee.559738","order":2,"width":0,"height":0,"name":"","label":"Feinstaub","format":"{{msg.payload}} µm/m³","layout":"row-spread","x":1080,"y":1600,"wires":[]},{"id":"f2fd307e.734318","type":"function","z":"70ceb75.fc651c8","name":"Lautstärke","func":"msg.payload = msg.payload.Laut;\nmsg.topic = 'Laut';\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":2180,"wires":[["2b530870.3c4a68","f8eba08b.4c604","cd8685d0.f728d8"]]},{"id":"2b530870.3c4a68","type":"ui_gauge","z":"70ceb75.fc651c8","name":"","group":"e84de748.a9451","order":1,"width":0,"height":0,"gtype":"gage","title":"Lautstärke","label":"","format":"{{value}} dB(A)","min":"0","max":"130","colors":["#00b500","#e6e600","#ca3838"],"seg1":"60","seg2":"90","x":930,"y":2180,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"f8eba08b.4c604","type":"ui_text","z":"70ceb75.fc651c8","group":"e84de748.a9451","order":2,"width":0,"height":0,"name":"","label":"Lautstärke","format":"{{msg.payload}} dB(A)","layout":"row-spread","x":1090,"y":2140,"wires":[]},{"id":"a511d54a.b051d8","type":"random","z":"70ceb75.fc651c8","name":"","low":"5","high":"10","inte":"true","property":"payload.Temp","x":580,"y":220,"wires":[["b8ba7e4a.c63798"]]},{"id":"e39b27a8.c53088","type":"random","z":"70ceb75.fc651c8","name":"","low":"240","high":"260","inte":"true","property":"payload.CO2","x":740,"y":720,"wires":[["95c61fed.1d99c8"]]},{"id":"58ff429c.6f2fbc","type":"random","z":"70ceb75.fc651c8","name":"","low":"200","high":"350","inte":"true","property":"payload.Nox","x":400,"y":1200,"wires":[["2dc20c1.b5006f4"]]},{"id":"6ca952f0.5fab84","type":"random","z":"70ceb75.fc651c8","name":"","low":"30","high":"90","inte":"true","property":"payload.Feinstaub","x":400,"y":1640,"wires":[["7fd9ca86.117294"]]},{"id":"63fe780e.6a5d7","type":"random","z":"70ceb75.fc651c8","name":"","low":"40","high":"80","inte":"true","property":"payload.Laut","x":420,"y":2180,"wires":[["f2fd307e.734318"]]},{"id":"708a2604.182c98","type":"ui_slider","z":"70ceb75.fc651c8","name":"","label":"Slider 1","tooltip":"","group":"374ce372.9c9c84","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"10","x":160,"y":2680,"wires":[["2498b9c8.16155e","b2aab429.d61c4","25c587a5.c2007","8cd8c1d2.b53a58"]]},{"id":"2498b9c8.16155e","type":"ui_text","z":"70ceb75.fc651c8","group":"374ce372.9c9c84","order":1,"width":0,"height":0,"name":"","label":"Müll 1 Füllstand","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":2600,"wires":[]},{"id":"d011643f.a4f7c8","type":"debug","z":"70ceb75.fc651c8","name":"email sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":2680,"wires":[]},{"id":"61da809b.53a8a8","type":"function","z":"70ceb75.fc651c8","name":"Müll 1 70%","func":"msg = {\npayload: \"Müll 1 ist zu 70% voll\",\ntopic: \"Müll 1 ist zu 70% voll\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":630,"y":2680,"wires":[["a822a44e.465a68"]]},{"id":"b2aab429.d61c4","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 70) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":2680,"wires":[["61da809b.53a8a8"]]},{"id":"25c587a5.c2007","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 100) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":2720,"wires":[["99ef10c7.7f9c78"]]},{"id":"99ef10c7.7f9c78","type":"function","z":"70ceb75.fc651c8","name":"Müll 1 Voll","func":"msg = {\npayload: \"Müll 1 ist VOLL\",\ntopic: \"Müll 1 ist VOLL\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2720,"wires":[["957e9ae4.0b05c8"]]},{"id":"c667332f.31eea","type":"debug","z":"70ceb75.fc651c8","name":"test 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":2720,"wires":[]},{"id":"ccd49160.b5e4b","type":"ui_slider","z":"70ceb75.fc651c8","name":"","label":"Slider 2","tooltip":"","group":"374ce372.9c9c84","order":2,"width":0,"height":0,"passthru":true,"outs":"all","topic":"","min":0,"max":"100","step":"10","x":160,"y":2940,"wires":[["ed4f9ae0.85ed78","c8f89cb5.4a4ef8","da7d4436.0d9258","69301e9f.b1c7d"]]},{"id":"ed4f9ae0.85ed78","type":"ui_text","z":"70ceb75.fc651c8","group":"374ce372.9c9c84","order":1,"width":0,"height":0,"name":"","label":"Müll 2 Füllstand","format":"{{msg.payload}}","layout":"row-spread","x":460,"y":2860,"wires":[]},{"id":"d1df95f6.95ffd","type":"debug","z":"70ceb75.fc651c8","name":"email sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":2940,"wires":[]},{"id":"920555c7.aa8e48","type":"function","z":"70ceb75.fc651c8","name":"Müll 2 70%","func":"msg = {\npayload: \"Müll 2 ist zu 70% voll\",\ntopic: \"Müll 2 ist zu 70% voll\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2940,"wires":[["b8b8bfde.d522f8"]]},{"id":"c8f89cb5.4a4ef8","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 70) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":2940,"wires":[["920555c7.aa8e48"]]},{"id":"da7d4436.0d9258","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 100) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":2980,"wires":[["eb382754.ab3a98"]]},{"id":"eb382754.ab3a98","type":"function","z":"70ceb75.fc651c8","name":"Müll 2 Voll","func":"msg = {\npayload: \"Müll 2 ist VOLL\",\ntopic: \"Müll 2 ist VOLL\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":2980,"wires":[["36e77f6f.e727e"]]},{"id":"aa01022.2bbaf8","type":"debug","z":"70ceb75.fc651c8","name":"test 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":2980,"wires":[]},{"id":"8cd8c1d2.b53a58","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 0) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":2760,"wires":[["705c3b9b.96b724"]]},{"id":"705c3b9b.96b724","type":"function","z":"70ceb75.fc651c8","name":"Müll 1 Leer","func":"msg = {\npayload: \"Müll 1 wurde geleert\",\ntopic: \"Müll 1 wurde geleert\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":2760,"wires":[["bd3ad68a.73603"]]},{"id":"dacac1ce.18c2","type":"debug","z":"70ceb75.fc651c8","name":"test 0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1050,"y":2760,"wires":[]},{"id":"69301e9f.b1c7d","type":"function","z":"70ceb75.fc651c8","name":"if","func":"if (msg.payload === 0) {\n    return [ msg, true ];\n}\n","outputs":1,"noerr":0,"x":430,"y":3040,"wires":[["6a6269dc.2c18e"]]},{"id":"6a6269dc.2c18e","type":"function","z":"70ceb75.fc651c8","name":"Müll 2 Leer","func":"msg = {\npayload: \"Müll 2 wurde geleert\",\ntopic: \"Müll 2 wurde geleert\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":650,"y":3040,"wires":[["6f32d198.e7405"]]},{"id":"c63f7fef.757438","type":"debug","z":"70ceb75.fc651c8","name":"test 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1060,"y":3040,"wires":[]},{"id":"a8bc2b1.99a4f58","type":"ui_text","z":"70ceb75.fc651c8","group":"88a1f77.2c2a508","order":1,"width":0,"height":0,"name":"","label":"Parkplatz 1 frei","format":"{{msg.payload}}","layout":"row-spread","x":420,"y":3180,"wires":[]},{"id":"5c34d169.e48218","type":"debug","z":"70ceb75.fc651c8","name":"email sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":3260,"wires":[]},{"id":"291a62ac.2bbed6","type":"function","z":"70ceb75.fc651c8","name":"","func":"if (msg.payload == true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":470,"y":3260,"wires":[["5c0a7fe5.5b89e8"]]},{"id":"618bc34a.134074","type":"function","z":"70ceb75.fc651c8","name":"","func":"if (msg.payload === true ) {\n    return  msg;\n}\n","outputs":1,"noerr":0,"x":470,"y":3320,"wires":[["9955db48.f7892"]]},{"id":"ea795d33.0202a","type":"debug","z":"70ceb75.fc651c8","name":"test falschparker","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1100,"y":3320,"wires":[]},{"id":"eac1058c.dda9e","type":"ui_switch","z":"70ceb75.fc651c8","name":"","label":"Switch 1","tooltip":"","group":"88a1f77.2c2a508","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":3280,"wires":[["a8bc2b1.99a4f58","291a62ac.2bbed6"]]},{"id":"5c0a7fe5.5b89e8","type":"function","z":"70ceb75.fc651c8","name":"Parkplatz 1 frei","func":"msg = {\npayload: \"Parkplatz 1 ist momentan frei\",\ntopic: \"Parkplatz 1 ist momentan frei\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":680,"y":3260,"wires":[["56a7fbaa.d3713c"]]},{"id":"9955db48.f7892","type":"function","z":"70ceb75.fc651c8","name":"Parkplatz 1 Falschparker","func":"msg = {\npayload: \"Es befindet sich ein Falschparker auf Parkplatz 1\",\ntopic: \"Es befindet sich ein Falschparker auf Parkplatz 1\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":3320,"wires":[["7f0fd7e4.48b81"]]},{"id":"3675a452.9e7c54","type":"ui_switch","z":"70ceb75.fc651c8","name":"","label":"Switch 2","tooltip":"","group":"88a1f77.2c2a508","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":180,"y":3340,"wires":[["618bc34a.134074","686c7cea.c72244"]]},{"id":"686c7cea.c72244","type":"ui_text","z":"70ceb75.fc651c8","group":"88a1f77.2c2a508","order":1,"width":0,"height":0,"name":"","label":"Parkplatz 1 Falschparker","format":"{{msg.payload}}","layout":"row-spread","x":450,"y":3380,"wires":[]},{"id":"59a868ca.986948","type":"function","z":"70ceb75.fc651c8","name":"","func":"\nmsg.payload = \n{\n    \"Temp\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1050,"y":100,"wires":[["690ec856.29e268"]]},{"id":"690ec856.29e268","type":"influxdb out","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"","measurement":"Temperatur","precision":"","retentionPolicy":"","x":1840,"y":100,"wires":[]},{"id":"b49484e7.ffb4f8","type":"inject","z":"97fd7268.4b1968","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":160,"wires":[["95ee060c.d91558","2b693dde.76cfba","80104128.eeb7b","1c8f60e7.5ea087","c3b58fbb.aeb6a"]]},{"id":"95ee060c.d91558","type":"random","z":"97fd7268.4b1968","name":"","low":"24","high":"30","inte":"true","property":"payload.Besucher","x":320,"y":100,"wires":[["2f14e2e6.dc3596"]]},{"id":"2f14e2e6.dc3596","type":"function","z":"97fd7268.4b1968","name":"Besucherzahl","func":"msg.payload = msg.payload.Besucher;\nmsg.topic = 'Besucher';\nreturn msg;","outputs":1,"noerr":0,"x":540,"y":100,"wires":[["cca246dd.b06ef8","8f85ba1b.99ac5","d4865b9.6b311a8"]]},{"id":"8f85ba1b.99ac5","type":"ui_text","z":"97fd7268.4b1968","group":"6cf4ae67.862a58","order":2,"width":0,"height":0,"name":"","label":"Aktuelle Besucheranzahl","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":60,"wires":[]},{"id":"cca246dd.b06ef8","type":"ui_gauge","z":"97fd7268.4b1968","name":"","group":"6cf4ae67.862a58","order":1,"width":0,"height":0,"gtype":"gage","title":"Besucheranzahl","label":"Sitzplätze","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":920,"y":100,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"c8f34bd6.7bf828","type":"inject","z":"97fd7268.4b1968","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":720,"wires":[["71078b5f.831e9c","2610b404.283664","54d4e7b1.bfbef8","c5d5d294.f1ab5","6d54605b.ef11b8"]]},{"id":"71078b5f.831e9c","type":"random","z":"97fd7268.4b1968","name":"","low":"50","high":"65","inte":"true","property":"payload.BesucherM","x":300,"y":640,"wires":[["bfbc6210.52645"]]},{"id":"bfbc6210.52645","type":"function","z":"97fd7268.4b1968","name":"Besucherzahl Mensa","func":"msg.payload = msg.payload.BesucherM;\nmsg.topic = 'Besucher';\nreturn msg;","outputs":1,"noerr":0,"x":560,"y":640,"wires":[["d8c9987e.596d4","9df5eb2c.bcd83","6290d37f.425184"]]},{"id":"9df5eb2c.bcd83","type":"ui_text","z":"97fd7268.4b1968","group":"e7c2adb4.c3917","order":2,"width":0,"height":0,"name":"","label":"Aktuelle Besucheranzahl","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":580,"wires":[]},{"id":"d8c9987e.596d4","type":"ui_gauge","z":"97fd7268.4b1968","name":"","group":"e7c2adb4.c3917","order":1,"width":0,"height":0,"gtype":"gage","title":"Besucheranzahl","label":"Sitzplätze","format":"{{value}}","min":"0","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"60","x":920,"y":640,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"c742d111.50ce9","type":"ui_text","z":"97fd7268.4b1968","group":"3b8d816d.16c4ce","order":1,"width":0,"height":0,"name":"","label":"Parkplatz frei","format":"{{msg.payload}}","layout":"row-spread","x":330,"y":1060,"wires":[]},{"id":"2f6e4416.951894","type":"debug","z":"97fd7268.4b1968","name":"email sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1020,"y":1140,"wires":[]},{"id":"80a7feae.73e928","type":"function","z":"97fd7268.4b1968","name":"if","func":"if (msg.payload == true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":1140,"wires":[["9286b3f6.266f7"]]},{"id":"4bebd92e.5b91b8","type":"function","z":"97fd7268.4b1968","name":"if","func":"if (msg.payload === true ) {\n    return  msg;\n}\n","outputs":1,"noerr":0,"x":390,"y":1200,"wires":[["ead6ac41.3404"]]},{"id":"60bbeba2.6d4ce4","type":"debug","z":"97fd7268.4b1968","name":"test 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1080,"y":1200,"wires":[]},{"id":"c06de3d2.11eb48","type":"ui_switch","z":"97fd7268.4b1968","name":"","label":"Switch 1","tooltip":"","group":"3b8d816d.16c4ce","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":1160,"wires":[["c742d111.50ce9","80a7feae.73e928"]]},{"id":"9286b3f6.266f7","type":"function","z":"97fd7268.4b1968","name":"Parkplatz  frei","func":"msg = {\npayload: \"Parkplatz HS ist momentan frei\",\ntopic: \"Parkplatz HS ist momentan frei\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":1140,"wires":[["388b800c.edcbd8"]]},{"id":"ead6ac41.3404","type":"function","z":"97fd7268.4b1968","name":"Parkplatz  Falschparker","func":"msg = {\npayload: \"Es befindet sich ein Falschparker auf Parkplatz HS\",\ntopic: \"Es befindet sich ein Falschparker auf Parkplatz HS\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":1200,"wires":[["b838b0ec.0e54c8"]]},{"id":"5b9acde2.fd6864","type":"ui_switch","z":"97fd7268.4b1968","name":"","label":"Switch 2","tooltip":"","group":"3b8d816d.16c4ce","order":0,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":100,"y":1220,"wires":[["4bebd92e.5b91b8","b5201fa1.2fd05"]]},{"id":"b5201fa1.2fd05","type":"ui_text","z":"97fd7268.4b1968","group":"3b8d816d.16c4ce","order":1,"width":0,"height":0,"name":"","label":"Parkplatz 1 Falschparker","format":"{{msg.payload}}","layout":"row-spread","x":370,"y":1260,"wires":[]},{"id":"d0c02484.d614e","type":"function","z":"825d9825.0bffb","name":"Besucherzahl","func":"msg.payload = msg.payload.Besucher;\nmsg.topic = 'Besucher';\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":100,"wires":[["37de1b9a.8b3364","1da0e6cc.c33d99","34c05d1a.af82ba","8df41c93.0a9ef","c3cd124b.655c88","eea2a78b.1beeb","995c3950.d295d8","e373e275.0bc75"]]},{"id":"c3cd124b.655c88","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"6cf4ae67.862a58","order":2,"width":0,"height":0,"name":"","label":"Aktuelle Besucheranzahl","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":20,"wires":[]},{"id":"37de1b9a.8b3364","type":"ui_gauge","z":"825d9825.0bffb","d":true,"name":"","group":"6cf4ae67.862a58","order":1,"width":0,"height":0,"gtype":"gage","title":"Besucheranzahl","label":"Sitzplätze","format":"{{value}}","min":"0","max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"20","seg2":"30","x":1140,"y":60,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"1da0e6cc.c33d99","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"d331b3e2.80cfa8","order":1,"width":0,"height":0,"label":"Besucher stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":140,"wires":[[]]},{"id":"34c05d1a.af82ba","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"d331b3e2.80cfa8","order":2,"width":0,"height":0,"label":"Besucher täglich","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":180,"wires":[[]]},{"id":"8df41c93.0a9ef","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"d331b3e2.80cfa8","order":3,"width":0,"height":0,"label":"Besucher wöchentlich","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":220,"wires":[[]]},{"id":"eea2a78b.1beeb","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"12","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":300,"wires":[["ba359478.7e1fa"]]},{"id":"995c3950.d295d8","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"7","intervalUnits":"d","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":340,"wires":[["91f6e391.0230c"]]},{"id":"e373e275.0bc75","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"30","intervalUnits":"d","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":380,"wires":[["a0fd3a6f.58e58"]]},{"id":"b13f3f7e.b4fb8","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"cbf72762.6b4f5","order":1,"width":0,"height":0,"name":"","label":"Besucherzahl/Tag","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":300,"wires":[]},{"id":"b013c56.dd95ab8","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"cbf72762.6b4f5","order":2,"width":0,"height":0,"name":"","label":"Besucherzahl/Woche","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":340,"wires":[]},{"id":"9826021a.b97798","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"cbf72762.6b4f5","order":3,"width":0,"height":0,"name":"","label":"Besucherzahl/Monat","format":"{{msg.payload}}","layout":"row-spread","x":1180,"y":380,"wires":[]},{"id":"6dfe86c8.79af68","type":"function","z":"825d9825.0bffb","name":"Besucherzahl Mensa","func":"msg.payload = msg.payload.BesucherM;\nmsg.topic = 'Besucher';\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":640,"wires":[["dc1cb124.7c5ed8","637ffef5.f324d","28edf673.2cc552","48acb526.6ff064","e82b5a9c.c10218","7a23b79a.6c4c88","bb670cde.2a6e7","f3cb3aaf.0adea8"]]},{"id":"e82b5a9c.c10218","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"e7c2adb4.c3917","order":2,"width":0,"height":0,"name":"","label":"Aktuelle Besucheranzahl","format":"{{msg.payload}}","layout":"row-spread","x":1170,"y":520,"wires":[]},{"id":"dc1cb124.7c5ed8","type":"ui_gauge","z":"825d9825.0bffb","d":true,"name":"","group":"e7c2adb4.c3917","order":1,"width":0,"height":0,"gtype":"gage","title":"Besucheranzahl","label":"Sitzplätze","format":"{{value}}","min":"0","max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"45","seg2":"60","x":1140,"y":560,"wires":[],"info":"# Hallo \n## i bims ein\n**Quoka**"},{"id":"637ffef5.f324d","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"aae2206d.3575d","order":1,"width":0,"height":0,"label":"Besucher stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":680,"wires":[[]]},{"id":"28edf673.2cc552","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"aae2206d.3575d","order":2,"width":0,"height":0,"label":"Besucher täglich","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1110,"y":720,"wires":[[]]},{"id":"48acb526.6ff064","type":"ui_chart","z":"825d9825.0bffb","d":true,"name":"","group":"aae2206d.3575d","order":3,"width":0,"height":0,"label":"Besucher wöchentlich","chartType":"line","legend":"false","xformat":"auto","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1120,"y":760,"wires":[[]]},{"id":"7a23b79a.6c4c88","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"12","intervalUnits":"s","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":840,"wires":[["702149c6.7a84e"]]},{"id":"bb670cde.2a6e7","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"7","intervalUnits":"d","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":880,"wires":[["d45d4838.3df01"]]},{"id":"f3cb3aaf.0adea8","type":"aggregator","z":"825d9825.0bffb","name":"average","topic":"","intervalCount":"30","intervalUnits":"d","submitIncompleteInterval":true,"submitPerTopic":false,"aggregationType":"mean","x":760,"y":920,"wires":[["67ea3a08.c0e9b4"]]},{"id":"c7750112.695f38","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"1e481ffe.00a048","order":1,"width":0,"height":0,"name":"","label":"Besucherzahl/Tag","format":"{{msg.payload}}","layout":"row-spread","x":1130,"y":840,"wires":[]},{"id":"68fdc09f.28fbc","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"1e481ffe.00a048","order":2,"width":0,"height":0,"name":"","label":"Besucherzahl/Woche","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":880,"wires":[]},{"id":"28fb8fc4.6c1128","type":"ui_text","z":"825d9825.0bffb","d":true,"group":"1e481ffe.00a048","order":3,"width":0,"height":0,"name":"","label":"Besucherzahl/Monat","format":"{{msg.payload}}","layout":"row-spread","x":1140,"y":920,"wires":[]},{"id":"7c7cb38e.d7aa54","type":"debug","z":"825d9825.0bffb","name":"email sent","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1120,"y":1140,"wires":[]},{"id":"64d30bf.7dc52f4","type":"function","z":"825d9825.0bffb","name":"if","func":"if (msg.payload == true) {\n    return msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":1140,"wires":[["c513d274.9fcd48"]]},{"id":"aecd346f.086c4","type":"function","z":"825d9825.0bffb","name":"if","func":"if (msg.payload === true ) {\n    return  msg;\n}\n","outputs":1,"noerr":0,"x":490,"y":1200,"wires":[["71e93c43.88fffc"]]},{"id":"4d05f05.7927d9","type":"debug","z":"825d9825.0bffb","name":"test 100","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1180,"y":1200,"wires":[]},{"id":"c513d274.9fcd48","type":"function","z":"825d9825.0bffb","name":"Parkplatz  frei","func":"msg = {\npayload: \"Parkplatz HS ist momentan frei\",\ntopic: \"Parkplatz HS ist momentan frei\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":1140,"wires":[["88913bd6.11c1d8"]]},{"id":"71e93c43.88fffc","type":"function","z":"825d9825.0bffb","name":"Parkplatz  Falschparker","func":"msg = {\npayload: \"Es befindet sich ein Falschparker auf Parkplatz HS\",\ntopic: \"Es befindet sich ein Falschparker auf Parkplatz HS\"\n}\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":1200,"wires":[["4cf68be8.fb72e4"]]},{"id":"67ea3a08.c0e9b4","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":920,"wires":[["28fb8fc4.6c1128"]]},{"id":"d45d4838.3df01","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":880,"wires":[["68fdc09f.28fbc"]]},{"id":"702149c6.7a84e","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":920,"y":840,"wires":[["c7750112.695f38"]]},{"id":"a0fd3a6f.58e58","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":380,"wires":[["9826021a.b97798"]]},{"id":"91f6e391.0230c","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":340,"wires":[["b013c56.dd95ab8"]]},{"id":"ba359478.7e1fa","type":"function","z":"825d9825.0bffb","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":940,"y":300,"wires":[["b13f3f7e.b4fb8"]]},{"id":"32bde240.4501de","type":"influxdb in","z":"3eb1025c.4a09e6","influxdb":"38d30455.0b5534","name":"peoplecounters_1","query":"select * from peoplecounters_v1;","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":800,"wires":[["4724d67e.1edcb8","969e9453.4ca2b8","238cd342.59d834"]]},{"id":"bbce9d49.4a1718","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1070,"y":620,"wires":[]},{"id":"68c6753c.67c664","type":"ui_text","z":"3eb1025c.4a09e6","group":"4cc9a079.f0dfc","order":1,"width":0,"height":0,"name":"","label":"LTR","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":700,"wires":[]},{"id":"511b1dbf.c441e4","type":"ui_text","z":"3eb1025c.4a09e6","group":"4cc9a079.f0dfc","order":2,"width":0,"height":0,"name":"","label":"RTL","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":740,"wires":[]},{"id":"4724d67e.1edcb8","type":"function","z":"3eb1025c.4a09e6","name":"RTL","func":"msg.payload = msg.decoded.RTL;\nmsg.topic = 'RTL';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":740,"wires":[["511b1dbf.c441e4"]]},{"id":"969e9453.4ca2b8","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":920,"y":860,"wires":[]},{"id":"8c7d73f7.bd8cb","type":"inject","z":"3eb1025c.4a09e6","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":800,"wires":[["32bde240.4501de"]]},{"id":"238cd342.59d834","type":"function","z":"3eb1025c.4a09e6","name":"LTR","func":"msg.payload = msg.decoded.LTR;\nmsg.topic = 'LTR';\nreturn msg;","outputs":1,"noerr":0,"x":890,"y":700,"wires":[["68c6753c.67c664","bbce9d49.4a1718"]]},{"id":"94bdb9de.686f08","type":"influxdb in","z":"3eb1025c.4a09e6","influxdb":"38d30455.0b5534","name":"tempsensors_v1","query":"select * from tempsensors_v1 WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":580,"y":980,"wires":[["fa18572.6ebf8a8","888e88d1.f79648"]]},{"id":"8edcf4ab.914e08","type":"inject","z":"3eb1025c.4a09e6","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":150,"y":980,"wires":[["94bdb9de.686f08"]]},{"id":"ec04ab70.568f48","type":"influxdb in","z":"3eb1025c.4a09e6","influxdb":"38d30455.0b5534","name":"parkingsensors_v1","query":"select * from parkingsensors_v1;","rawOutput":false,"precision":"","retentionPolicy":"","x":610,"y":1080,"wires":[["1c64e78d.42f608"]]},{"id":"35c1dd83.7806a2","type":"inject","z":"3eb1025c.4a09e6","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":1080,"wires":[["ec04ab70.568f48"]]},{"id":"fa18572.6ebf8a8","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":910,"y":940,"wires":[]},{"id":"1c64e78d.42f608","type":"debug","z":"3eb1025c.4a09e6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":870,"y":1080,"wires":[]},{"id":"888e88d1.f79648","type":"split","z":"3eb1025c.4a09e6","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1020,"wires":[["cb59c931.fe0df8"]]},{"id":"68c47482.644d6c","type":"debug","z":"3eb1025c.4a09e6","name":"sens1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1090,"y":200,"wires":[]},{"id":"cb59c931.fe0df8","type":"function","z":"3eb1025c.4a09e6","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.temp_1\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1020,"wires":[["9fbd0fb4.859628"]]},{"id":"9fbd0fb4.859628","type":"join","z":"3eb1025c.4a09e6","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":1020,"wires":[["fa2d6e4c.cdb7c"]]},{"id":"fa2d6e4c.cdb7c","type":"function","z":"3eb1025c.4a09e6","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1020,"wires":[["869e3ba7.0cc5f8","51057f4a.62025"]]},{"id":"869e3ba7.0cc5f8","type":"debug","z":"3eb1025c.4a09e6","name":"6","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1770,"y":1040,"wires":[]},{"id":"51057f4a.62025","type":"ui_chart","z":"3eb1025c.4a09e6","name":"","group":"4cc9a079.f0dfc","order":3,"width":0,"height":0,"label":"chart","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":980,"wires":[[]]},{"id":"6ed9fe0b.7c453","type":"function","z":"70ceb75.fc651c8","name":"","func":"\nmsg.payload = \n{\n    \"CO2\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":1250,"y":640,"wires":[["da01e52e.30da08"]]},{"id":"da01e52e.30da08","type":"influxdb out","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"","measurement":"CO2","precision":"","retentionPolicy":"","x":1860,"y":620,"wires":[]},{"id":"74c895c3.ff9ff4","type":"function","z":"70ceb75.fc651c8","name":"","func":"\nmsg.payload = \n{\n    \"NOx\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":750,"y":1080,"wires":[["44a6fcb7.d771b4"]]},{"id":"44a6fcb7.d771b4","type":"influxdb out","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"","measurement":"NOx","precision":"","retentionPolicy":"","x":1860,"y":1080,"wires":[]},{"id":"f4ae1585.3548c","type":"function","z":"70ceb75.fc651c8","name":"","func":"\nmsg.payload = \n{\n    \"Feinstaub\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":1580,"wires":[["7b178fe3.62e678"]]},{"id":"7b178fe3.62e678","type":"influxdb out","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"","measurement":"Feinstaub","precision":"","retentionPolicy":"","x":1170,"y":1540,"wires":[]},{"id":"cd8685d0.f728d8","type":"function","z":"70ceb75.fc651c8","name":"","func":"\nmsg.payload = \n{\n    \"Lautstaerke\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":2100,"wires":[["43f90faf.44a568"]]},{"id":"43f90faf.44a568","type":"influxdb out","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"","measurement":"Lautstaerke","precision":"","retentionPolicy":"","x":1180,"y":2100,"wires":[]},{"id":"d4865b9.6b311a8","type":"function","z":"97fd7268.4b1968","name":"","func":"\nmsg.payload = \n{\n    \"Besucher\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":690,"y":20,"wires":[["93648ad0.9a172"]]},{"id":"93648ad0.9a172","type":"influxdb out","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"","measurement":"BesucherB","precision":"","retentionPolicy":"","x":1040,"y":20,"wires":[]},{"id":"6290d37f.425184","type":"function","z":"97fd7268.4b1968","name":"","func":"\nmsg.payload = \n{\n    \"Besucher\": msg.payload\n   \n};\n\n\nreturn msg;","outputs":1,"noerr":0,"x":850,"y":500,"wires":[["353c40e2.51326"]]},{"id":"353c40e2.51326","type":"influxdb out","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"","measurement":"BesucherM","precision":"","retentionPolicy":"","x":1180,"y":500,"wires":[]},{"id":"8680caa3.cbb0e8","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":440,"wires":[["bf84b51d.30b18"]]},{"id":"bf84b51d.30b18","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Temp\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":440,"wires":[["6203da76.abc83c"]]},{"id":"6203da76.abc83c","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":440,"wires":[["10d2aac6.92fd7d"]]},{"id":"10d2aac6.92fd7d","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":440,"wires":[["fa818ee8.c8ad28"]]},{"id":"fa818ee8.c8ad28","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"3fc298d2.46ff08","order":2,"width":0,"height":0,"label":"Temperatur stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"1","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1780,"y":440,"wires":[[]]},{"id":"8d09ef75.5ea03","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage Stunde","query":"select * from Temperatur WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":790,"y":440,"wires":[["8680caa3.cbb0e8"]]},{"id":"252a8f36.353ac8","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":500,"wires":[["64871f2a.a1da18","f28b0972.ce43d"]]},{"id":"64871f2a.a1da18","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Temp\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":500,"wires":[["6ce88ddd.98cf84"]]},{"id":"6ce88ddd.98cf84","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":500,"wires":[["7be4deb9.a1593"]]},{"id":"7be4deb9.a1593","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":500,"wires":[["3e9a9fdc.24e9d"]]},{"id":"3e9a9fdc.24e9d","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"3fc298d2.46ff08","order":2,"width":0,"height":0,"label":"Temperatur täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":500,"wires":[[]]},{"id":"e490b65d.223578","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage Tag","query":"select * from Temperatur WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":780,"y":500,"wires":[["252a8f36.353ac8"]]},{"id":"96a66420.42f43","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":540,"wires":[["d64d77.6384aa88","c113bcdd.45f26"]]},{"id":"d64d77.6384aa88","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Temp\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":540,"wires":[["5b5432d0.bfb1dc"]]},{"id":"5b5432d0.bfb1dc","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":540,"wires":[["168b50ad.2917b7"]]},{"id":"168b50ad.2917b7","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":540,"wires":[["621b6dcb.7b9edc"]]},{"id":"621b6dcb.7b9edc","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"3fc298d2.46ff08","order":2,"width":0,"height":0,"label":"Temperatur wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"7","removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1790,"y":540,"wires":[[]]},{"id":"bde1b376.234c4","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage Woche","query":"select * from Temperatur WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":790,"y":540,"wires":[["96a66420.42f43"]]},{"id":"77b375ea.1cfd3c","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":900,"wires":[["e41fe94.154fe98"]]},{"id":"e41fe94.154fe98","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.CO2\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":900,"wires":[["7c27b7ec.07625"]]},{"id":"7c27b7ec.07625","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":900,"wires":[["1c78bc48.6b9714"]]},{"id":"1c78bc48.6b9714","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":900,"wires":[["f7834e2b.c2bd7"]]},{"id":"aa33b38c.3d4d18","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from CO2 WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":900,"wires":[["77b375ea.1cfd3c"]]},{"id":"aa1fe6b1.7c975","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":940,"wires":[["bf1f3234.4106e","fe252b5d.4825c8"]]},{"id":"bf1f3234.4106e","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.CO2\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":940,"wires":[["3f2fb487.e92314"]]},{"id":"3f2fb487.e92314","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":940,"wires":[["5bfab38c.bcb284"]]},{"id":"5bfab38c.bcb284","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":940,"wires":[["ae8953ae.2b7af8"]]},{"id":"d1a84c02.27eda8","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from CO2 WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":940,"wires":[["aa1fe6b1.7c975"]]},{"id":"bc847366.dd7c1","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":980,"wires":[["e79e70ad.461b1","7f87f645.91e0a"]]},{"id":"e79e70ad.461b1","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.CO2\n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":980,"wires":[["b475f86d.1fac"]]},{"id":"b475f86d.1fac","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":980,"wires":[["278ec4eb.a04424"]]},{"id":"278ec4eb.a04424","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":980,"wires":[["aac17f10.828b3"]]},{"id":"87cbb9e6.972018","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from CO2 WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":980,"wires":[["bc847366.dd7c1"]]},{"id":"f7834e2b.c2bd7","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"5a4ef9c4.bf564","order":1,"width":0,"height":0,"label":"CO₂ stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1800,"y":900,"wires":[[]]},{"id":"ae8953ae.2b7af8","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"5a4ef9c4.bf564","order":2,"width":0,"height":0,"label":"CO₂ täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1790,"y":940,"wires":[[]]},{"id":"aac17f10.828b3","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"5a4ef9c4.bf564","order":3,"width":0,"height":0,"label":"CO₂ wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1800,"y":980,"wires":[[]]},{"id":"b757320a.840c58","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1360,"wires":[["97c35aea.5b8a78"]]},{"id":"97c35aea.5b8a78","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.NOx \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1360,"wires":[["e9d30f4c.6e4b1"]]},{"id":"e9d30f4c.6e4b1","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":1360,"wires":[["a9841e36.0d2d48"]]},{"id":"a9841e36.0d2d48","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1360,"wires":[["f199e2fe.c4d5f"]]},{"id":"6b3f7c44.cc6d34","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from NOx WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":1360,"wires":[["b757320a.840c58"]]},{"id":"e4aa7574.11721","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1420,"wires":[["8e65b6bb.121f28","e1594a46.fae958"]]},{"id":"8e65b6bb.121f28","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.NOx \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1420,"wires":[["f11204e7.e6a7a8"]]},{"id":"f11204e7.e6a7a8","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":1420,"wires":[["fc4cd7.f73feb28"]]},{"id":"fc4cd7.f73feb28","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1420,"wires":[["c8793443.820718"]]},{"id":"9ccf483e.53a33","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from NOx WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":1420,"wires":[["e4aa7574.11721"]]},{"id":"f931c8da.1f6338","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1480,"wires":[["3ccac672.760662","34f74cd5.fd2a24"]]},{"id":"3ccac672.760662","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.NOx \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1480,"wires":[["d206cb6b.c35a6"]]},{"id":"d206cb6b.c35a6","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1350,"y":1480,"wires":[["be15f22a.9e5aa"]]},{"id":"be15f22a.9e5aa","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1510,"y":1480,"wires":[["58fd1e21.6ac3c8"]]},{"id":"c26ed2cd.952ab8","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from NOx WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":1480,"wires":[["f931c8da.1f6338"]]},{"id":"f199e2fe.c4d5f","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"fdca1521.2d52c8","order":1,"width":0,"height":0,"label":"NOx stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1800,"y":1360,"wires":[[]]},{"id":"c8793443.820718","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"fdca1521.2d52c8","order":2,"width":0,"height":0,"label":"NOx täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1790,"y":1420,"wires":[[]]},{"id":"58fd1e21.6ac3c8","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"fdca1521.2d52c8","order":3,"width":0,"height":0,"label":"NOx wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1810,"y":1480,"wires":[[]]},{"id":"2f2d677b.559348","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":1900,"wires":[["e5915dfd.a7a808"]]},{"id":"e5915dfd.a7a808","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Feinstaub  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":1900,"wires":[["ec0050f6.1f2b98"]]},{"id":"ec0050f6.1f2b98","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":1900,"wires":[["f6ced63.fc66828"]]},{"id":"f6ced63.fc66828","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1900,"wires":[["a1901ac2.f0877"]]},{"id":"a4ec4bb5.2e8658","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Feinstaub WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":1900,"wires":[["2f2d677b.559348"]]},{"id":"23311dc4.6b3a1a","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":1960,"wires":[["baa6736f.4b352","97f925a9.ce8918"]]},{"id":"baa6736f.4b352","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Feinstaub  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":1960,"wires":[["b035c1e6.85538"]]},{"id":"b035c1e6.85538","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":1960,"wires":[["bd5ef1c8.420be"]]},{"id":"bd5ef1c8.420be","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":1960,"wires":[["fb9f6155.675d3"]]},{"id":"19ed15a3.d8921a","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Feinstaub WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":1960,"wires":[["23311dc4.6b3a1a"]]},{"id":"3cfe97dc.93a","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":2000,"wires":[["d1be43a5.34fcd8","c8a1a5d4.985c98"]]},{"id":"d1be43a5.34fcd8","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Feinstaub  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":2000,"wires":[["ca5f7b5b.11374"]]},{"id":"a1afc5fc.b753f","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Feinstaub WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2000,"wires":[["3cfe97dc.93a"]]},{"id":"a1901ac2.f0877","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"cb1bdbb1.a038b","order":1,"width":0,"height":0,"label":"Feinstaub stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1870,"y":1900,"wires":[[]]},{"id":"fb9f6155.675d3","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"cb1bdbb1.a038b","order":2,"width":0,"height":0,"label":"Feinstaub täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1870,"y":1960,"wires":[[]]},{"id":"f9ae3933.58728","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":2400,"wires":[["623ad4fc.370714"]]},{"id":"623ad4fc.370714","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Lautstaerke  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2400,"wires":[["ceb6216.0442f6"]]},{"id":"ceb6216.0442f6","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2400,"wires":[["2b6f51ff.d1a30e"]]},{"id":"2b6f51ff.d1a30e","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2400,"wires":[["93fa2ef0.049ec8"]]},{"id":"2d1324bf.60098c","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Lautstaerke WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2400,"wires":[["f9ae3933.58728"]]},{"id":"1f0f114.a7b73ef","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":2460,"wires":[["7306ef09.5c6db","ed67db74.387218"]]},{"id":"7306ef09.5c6db","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Lautstaerke  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2460,"wires":[["77f37f.018f848"]]},{"id":"77f37f.018f848","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2460,"wires":[["7d425f7.7e6d2a"]]},{"id":"7d425f7.7e6d2a","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2460,"wires":[["c1147d40.cc5b18"]]},{"id":"4909973d.9b545","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Lautstaerke WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2460,"wires":[["1f0f114.a7b73ef"]]},{"id":"3a693a5d.c1e5ce","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":2520,"wires":[["ca5b10e3.f33978","c90d1de2.44faa8"]]},{"id":"ca5b10e3.f33978","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Lautstaerke  \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2520,"wires":[["bb728aea.f0add"]]},{"id":"bb728aea.f0add","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2520,"wires":[["7f85a377.af6de4"]]},{"id":"7f85a377.af6de4","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1650,"y":2520,"wires":[["b3115c41.ea2ce"]]},{"id":"4cd04af7.930e3c","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Lautstaerke WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2520,"wires":[["3a693a5d.c1e5ce"]]},{"id":"93fa2ef0.049ec8","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"e54f5d60.be2c38","order":1,"width":0,"height":0,"label":"Lautstärke stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1940,"y":2400,"wires":[[]]},{"id":"c1147d40.cc5b18","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"e54f5d60.be2c38","order":2,"width":0,"height":0,"label":"Lautstärke täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1870,"y":2460,"wires":[[]]},{"id":"b3115c41.ea2ce","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"e54f5d60.be2c38","order":3,"width":0,"height":0,"label":"Lautstärke wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1880,"y":2520,"wires":[[]]},{"id":"d32b3884.6213a8","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":300,"wires":[["40abf61d.af6fd8"]]},{"id":"40abf61d.af6fd8","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":300,"wires":[["aa740564.6a5d6"]]},{"id":"aa740564.6a5d6","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":300,"wires":[["9a22aace.9bcc6"]]},{"id":"9a22aace.9bcc6","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":300,"wires":[["4e01fc66.6d443c"]]},{"id":"2b693dde.76cfba","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherB WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":300,"wires":[["d32b3884.6213a8"]]},{"id":"f9df0de2.89f658","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":340,"wires":[["fd8eb5bc.fd496","3c70da09.d1704e"]]},{"id":"fd8eb5bc.fd496","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":340,"wires":[["f2384c0.562f338"]]},{"id":"f2384c0.562f338","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":340,"wires":[["3209e8d4.afe4a8"]]},{"id":"3209e8d4.afe4a8","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":340,"wires":[["a0068f9e.7cc318"]]},{"id":"80104128.eeb7b","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherB WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":340,"wires":[["f9df0de2.89f658"]]},{"id":"e61a5589.fabe9","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":380,"wires":[["11444568.75256b","7156b003.c4ed68"]]},{"id":"11444568.75256b","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":380,"wires":[["70c834f8.e3bafc"]]},{"id":"70c834f8.e3bafc","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":380,"wires":[["12ea2f69.797401"]]},{"id":"12ea2f69.797401","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":380,"wires":[["60b23eff.32b618"]]},{"id":"1c8f60e7.5ea087","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherB WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":380,"wires":[["e61a5589.fabe9"]]},{"id":"4e01fc66.6d443c","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"d331b3e2.80cfa8","order":1,"width":0,"height":0,"label":"Besucher stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":300,"wires":[[]]},{"id":"a0068f9e.7cc318","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"d331b3e2.80cfa8","order":2,"width":0,"height":0,"label":"Besucher täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1760,"y":340,"wires":[[]]},{"id":"60b23eff.32b618","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"d331b3e2.80cfa8","order":3,"width":0,"height":0,"label":"Besucher wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1780,"y":380,"wires":[[]]},{"id":"7324001f.1dc65","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":860,"wires":[["918071e4.fd6a48"]]},{"id":"918071e4.fd6a48","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":860,"wires":[["2c5f4c7c.775a7c"]]},{"id":"2c5f4c7c.775a7c","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":860,"wires":[["8df88612.a1a78"]]},{"id":"8df88612.a1a78","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":860,"wires":[["fc267e3.7b5838"]]},{"id":"2610b404.283664","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherM WHERE time> now() -1h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":860,"wires":[["7324001f.1dc65"]]},{"id":"8168ae0f.83ed8","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":920,"wires":[["5586ec1d.73184c","fb71b009.26c158"]]},{"id":"5586ec1d.73184c","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":920,"wires":[["e9d7469d.fd9168"]]},{"id":"e9d7469d.fd9168","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":920,"wires":[["829fb987.e5a9e8"]]},{"id":"829fb987.e5a9e8","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":920,"wires":[["e146af08.4afbf8"]]},{"id":"54d4e7b1.bfbef8","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherM WHERE time> now() -24h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":920,"wires":[["8168ae0f.83ed8"]]},{"id":"8f4d3baa.2122d","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":980,"wires":[["8119929a.17e288","e632543d.71873"]]},{"id":"8119929a.17e288","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = \n{\n    \"x\": msg.payload.time, \"y\": msg.payload.Besucher   \n   \n};\n\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":980,"wires":[["4aedb602.e45b58"]]},{"id":"4aedb602.e45b58","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":980,"wires":[["16e5c040.ec1f58"]]},{"id":"16e5c040.ec1f58","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1530,"y":980,"wires":[["e2e4196f.893868"]]},{"id":"c5d5d294.f1ab5","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherM WHERE time> now() -168h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":980,"wires":[["8f4d3baa.2122d"]]},{"id":"fc267e3.7b5838","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"aae2206d.3575d","order":1,"width":0,"height":0,"label":"Besucher stündlich","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1770,"y":860,"wires":[[]]},{"id":"e146af08.4afbf8","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"aae2206d.3575d","order":2,"width":0,"height":0,"label":"Besucher täglich","chartType":"line","legend":"false","xformat":"HH:mm","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"86400","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1760,"y":920,"wires":[[]]},{"id":"e2e4196f.893868","type":"ui_chart","z":"97fd7268.4b1968","name":"","group":"aae2206d.3575d","order":3,"width":0,"height":0,"label":"Besucher wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1780,"y":980,"wires":[[]]},{"id":"7dbf17b3.23362","type":"inject","z":"70ceb75.fc651c8","name":"","topic":"","payload":"{}","payloadType":"json","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":1200,"wires":[["a511d54a.b051d8","e39b27a8.c53088","58ff429c.6f2fbc","6ca952f0.5fab84","63fe780e.6a5d7","8d09ef75.5ea03","bde1b376.234c4","6b3f7c44.cc6d34","9ccf483e.53a33","c26ed2cd.952ab8","a4ec4bb5.2e8658","19ed15a3.d8921a","a1afc5fc.b753f","2d1324bf.60098c","4909973d.9b545","4cd04af7.930e3c","aa33b38c.3d4d18","d1a84c02.27eda8","87cbb9e6.972018","e490b65d.223578","ef3c6679.285cf","c5c30311.c4176","8c4aafcf.001e3","a11ea2ca.7af3a","dd11c50b.04c77"]]},{"id":"f28b0972.ce43d","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Temp;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":320,"wires":[["155ca42a.63451c"]]},{"id":"c00daafd.d2192","type":"ui_text","z":"70ceb75.fc651c8","group":"c891153c.386728","order":1,"width":0,"height":0,"name":"","label":"Temperatur/Tag","format":"{{msg.payload}} °C","layout":"row-spread","x":2860,"y":320,"wires":[]},{"id":"155ca42a.63451c","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2210,"y":320,"wires":[["d20a7d84.99e2e"]]},{"id":"57668579.7a9e44","type":"debug","z":"70ceb75.fc651c8","name":"Test 4.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2620,"y":180,"wires":[]},{"id":"c113bcdd.45f26","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Temp;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":280,"wires":[["2d09428f.fa5686"]]},{"id":"2d09428f.fa5686","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2210,"y":280,"wires":[["dc1ee23d.a80fb8"]]},{"id":"2587717f.e44506","type":"debug","z":"70ceb75.fc651c8","name":"Test 7.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2620,"y":220,"wires":[]},{"id":"5d56add2.da6d64","type":"ui_text","z":"70ceb75.fc651c8","group":"c891153c.386728","order":2,"width":0,"height":0,"name":"","label":"Temperatur/Woche","format":"{{msg.payload}} °C","layout":"row-spread","x":2870,"y":280,"wires":[]},{"id":"f72b946d.591568","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":280,"wires":[["5d56add2.da6d64"]]},{"id":"ae1b2592.db7ea","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":320,"wires":[["c00daafd.d2192"]]},{"id":"ef3c6679.285cf","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage Monat","query":"select * from Temperatur WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":790,"y":600,"wires":[["89726ab1.d8df7"]]},{"id":"89726ab1.d8df7","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":600,"wires":[["60f03bae.aeda0c"]]},{"id":"60f03bae.aeda0c","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Temp;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":360,"wires":[["3f549516.f1453a"]]},{"id":"3f549516.f1453a","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2210,"y":360,"wires":[["bebbb59.695b8c8"]]},{"id":"27453fb7.5ca0e8","type":"debug","z":"70ceb75.fc651c8","name":"Test 30.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2620,"y":140,"wires":[]},{"id":"67183f75.61582","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2580,"y":360,"wires":[["1d692827.82d99"]]},{"id":"1d692827.82d99","type":"ui_text","z":"70ceb75.fc651c8","group":"c891153c.386728","order":3,"width":0,"height":0,"name":"","label":"Temperatur/Monat","format":"{{msg.payload}} °C","layout":"row-spread","x":2810,"y":360,"wires":[]},{"id":"fe252b5d.4825c8","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.CO2;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":800,"wires":[["d2862457.3df908"]]},{"id":"d2862457.3df908","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2370,"y":800,"wires":[["8022cf55.a3af58"]]},{"id":"7f87f645.91e0a","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.CO2;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":760,"wires":[["52d22e56.511d3"]]},{"id":"52d22e56.511d3","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2370,"y":760,"wires":[["8a9ab02.f4f82d"]]},{"id":"8b896d70.76b278","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":760,"wires":[["66778e23.6b4b48"]]},{"id":"2eb231.a19c3dd","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":800,"wires":[["5a12cdb8.044664"]]},{"id":"bd5d853c.b5dae","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.CO2;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":840,"wires":[["a54255b6.87b82"]]},{"id":"a54255b6.87b82","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2370,"y":840,"wires":[["7b446c37.26ae4c"]]},{"id":"fbe4c89f.37be2","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2740,"y":840,"wires":[["14b20890.e9d787"]]},{"id":"66778e23.6b4b48","type":"ui_text","z":"70ceb75.fc651c8","group":"ede273b8.808b7","order":2,"width":0,"height":0,"name":"","label":"CO₂/Woche","format":"{{msg.payload}} ppm","layout":"row-spread","x":3010,"y":760,"wires":[]},{"id":"5a12cdb8.044664","type":"ui_text","z":"70ceb75.fc651c8","group":"ede273b8.808b7","order":1,"width":0,"height":0,"name":"","label":"CO₂/Tag","format":"{{msg.payload}} ppm","layout":"row-spread","x":3000,"y":800,"wires":[]},{"id":"c5c30311.c4176","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage Monat","query":"select * from CO2 WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":1020,"wires":[["ee111ca.69c796"]]},{"id":"ee111ca.69c796","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1020,"wires":[["bd5d853c.b5dae"]]},{"id":"e1594a46.fae958","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.NOx;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1260,"wires":[["adc651dc.55741"]]},{"id":"adc651dc.55741","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2470,"y":1240,"wires":[["f0027d78.6ecf3"]]},{"id":"34f74cd5.fd2a24","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.NOx;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1220,"wires":[["1f6d977.8761be9"]]},{"id":"1f6d977.8761be9","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2470,"y":1200,"wires":[["667fecfb.6e3514"]]},{"id":"1f49d61d.e24552","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1200,"wires":[["c5f5ed23.7b6398"]]},{"id":"3704cbfe.eea50c","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1240,"wires":[["71e5b282.b78abc"]]},{"id":"8aaa257b.db6498","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.NOx;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1170,"y":1300,"wires":[["574b4ad0.032aac"]]},{"id":"574b4ad0.032aac","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":2470,"y":1280,"wires":[["8b6bace0.3e796"]]},{"id":"bf389453.5239b","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":2840,"y":1280,"wires":[["3e2418f3.01eca"]]},{"id":"c5f5ed23.7b6398","type":"ui_text","z":"70ceb75.fc651c8","group":"54646a84.dc3ae4","order":2,"width":0,"height":0,"name":"","label":"NOx/Woche","format":"{{msg.payload}} ppm","layout":"row-spread","x":3070,"y":1200,"wires":[]},{"id":"71e5b282.b78abc","type":"ui_text","z":"70ceb75.fc651c8","group":"54646a84.dc3ae4","order":1,"width":0,"height":0,"name":"","label":"NOx/Tag","format":"{{msg.payload}} ppm","layout":"row-spread","x":3060,"y":1240,"wires":[]},{"id":"3e2418f3.01eca","type":"ui_text","z":"70ceb75.fc651c8","group":"54646a84.dc3ae4","order":3,"width":0,"height":0,"name":"","label":"NOx/Monat","format":"{{msg.payload}} ppm","layout":"row-spread","x":3070,"y":1280,"wires":[]},{"id":"8c4aafcf.001e3","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from NOx WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":750,"y":1520,"wires":[["e8db306f.bdabc8"]]},{"id":"e8db306f.bdabc8","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":940,"y":1520,"wires":[["8aaa257b.db6498"]]},{"id":"ca5f7b5b.11374","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1430,"y":2000,"wires":[["b90aa81e.1e6d8"]]},{"id":"b90aa81e.1e6d8","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = [{\n\"series\": [\"A\"],\n\"data\": [ msg.payload\n    \n],\n\"labels\": [\"\"]\n}]\nreturn msg;","outputs":1,"noerr":0,"x":1610,"y":2000,"wires":[["609fd5bf.474d0c"]]},{"id":"609fd5bf.474d0c","type":"ui_chart","z":"70ceb75.fc651c8","name":"","group":"cb1bdbb1.a038b","order":3,"width":0,"height":0,"label":"Feinstaub wöchentlich","chartType":"line","legend":"false","xformat":"D","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"604800","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"outputs":1,"x":1880,"y":2000,"wires":[[]]},{"id":"97f925a9.ce8918","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Feinstaub;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":1780,"wires":[["1786284b.918d58"]]},{"id":"1786284b.918d58","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":1780,"wires":[["5cfecb27.21aedc"]]},{"id":"c8a1a5d4.985c98","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Feinstaub;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":1740,"wires":[["86adc422.af0a78"]]},{"id":"86adc422.af0a78","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":1740,"wires":[["b4a80ae4.5b1ec"]]},{"id":"f381655b.2c7588","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":1740,"wires":[["5c55f8dc.5f8a2"]]},{"id":"aa8046b7.6a04f","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":1780,"wires":[["6c615338.f0557c"]]},{"id":"6dc72eba.9647d8","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Feinstaub;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1210,"y":1820,"wires":[["5e2cacd3.96e244"]]},{"id":"5e2cacd3.96e244","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1410,"y":1820,"wires":[["cd09e8b5.3729f"]]},{"id":"dcafbe9a.dea7b8","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1780,"y":1820,"wires":[["8da2f39a.46163"]]},{"id":"6c615338.f0557c","type":"ui_text","z":"70ceb75.fc651c8","group":"aa404ad2.659bd","order":1,"width":0,"height":0,"name":"","label":"Feinstaub/Tag","format":"{{msg.payload}} µm/m³","layout":"row-spread","x":2020,"y":1780,"wires":[]},{"id":"5c55f8dc.5f8a2","type":"ui_text","z":"70ceb75.fc651c8","group":"aa404ad2.659bd","order":2,"width":0,"height":0,"name":"","label":"Feinstaub/Woche","format":"{{msg.payload}} µm/m³","layout":"row-spread","x":2030,"y":1740,"wires":[]},{"id":"8da2f39a.46163","type":"ui_text","z":"70ceb75.fc651c8","group":"aa404ad2.659bd","order":3,"width":0,"height":0,"name":"","label":"Feinstaub/Monat","format":"{{msg.payload}} µm/m³","layout":"row-spread","x":1990,"y":1820,"wires":[]},{"id":"a11ea2ca.7af3a","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Feinstaub WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2040,"wires":[["510be72.1359d18"]]},{"id":"510be72.1359d18","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":1000,"y":2040,"wires":[["6dc72eba.9647d8"]]},{"id":"ed67db74.387218","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Lautstaerke;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2280,"wires":[["af6d8086.83818"]]},{"id":"af6d8086.83818","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1470,"y":2280,"wires":[["89fcd452.b005"]]},{"id":"7e9930b0.e576b8","type":"debug","z":"70ceb75.fc651c8","name":"Test 4.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2500,"y":2080,"wires":[]},{"id":"c90d1de2.44faa8","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Lautstaerke;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2220,"wires":[["e2d841eb.1bc3f8"]]},{"id":"e2d841eb.1bc3f8","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1490,"y":2220,"wires":[["2808af10.896e78","712b29ff.17782"]]},{"id":"3e00575f.7ad92","type":"debug","z":"70ceb75.fc651c8","name":"Test 7.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2500,"y":2040,"wires":[]},{"id":"8d7e8062.c21a8","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1860,"y":2220,"wires":[["85c1f664.852f8"]]},{"id":"21a1716.937368e","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":2280,"wires":[["279abf94.d83d48"]]},{"id":"43a08b08.1f3c54","type":"function","z":"70ceb75.fc651c8","name":"","func":"msg.payload = msg.payload.Lautstaerke;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1310,"y":2320,"wires":[["bd8f8f2a.6def48"]]},{"id":"bd8f8f2a.6def48","type":"join","z":"70ceb75.fc651c8","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1470,"y":2320,"wires":[["fe90499f.a444f8"]]},{"id":"9485805e.c6fe58","type":"debug","z":"70ceb75.fc651c8","name":"Test 30.0","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2500,"y":2120,"wires":[]},{"id":"68a3871b.6756e8","type":"function","z":"70ceb75.fc651c8","name":"Runden","func":"msg.payload = msg.payload.toFixed(1);\nreturn msg;","outputs":1,"noerr":0,"x":1840,"y":2320,"wires":[["d49dbbe3.6e08b"]]},{"id":"85c1f664.852f8","type":"ui_text","z":"70ceb75.fc651c8","group":"8fc4c10d.e590c","order":2,"width":0,"height":0,"name":"","label":"Lautstärke/Woche","format":"{{msg.payload}} dB(A)","layout":"row-spread","x":2130,"y":2220,"wires":[]},{"id":"279abf94.d83d48","type":"ui_text","z":"70ceb75.fc651c8","group":"8fc4c10d.e590c","order":1,"width":0,"height":0,"name":"","label":"Lautstärke/Tag","format":"{{msg.payload}} dB(A)","layout":"row-spread","x":2060,"y":2280,"wires":[]},{"id":"d49dbbe3.6e08b","type":"ui_text","z":"70ceb75.fc651c8","group":"8fc4c10d.e590c","order":3,"width":0,"height":0,"name":"","label":"Lautstärke/Monat","format":"{{msg.payload}} dB(A)","layout":"row-spread","x":2070,"y":2320,"wires":[]},{"id":"e3ec0913.12207","type":"split","z":"70ceb75.fc651c8","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":980,"y":2580,"wires":[["43a08b08.1f3c54"]]},{"id":"dd11c50b.04c77","type":"influxdb in","z":"70ceb75.fc651c8","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from Lautstaerke WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":2580,"wires":[["e3ec0913.12207"]]},{"id":"712b29ff.17782","type":"debug","z":"70ceb75.fc651c8","name":"Test 70","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1640,"y":2140,"wires":[]},{"id":"14b20890.e9d787","type":"ui_text","z":"70ceb75.fc651c8","group":"ede273b8.808b7","order":3,"width":0,"height":0,"name":"","label":"CO₂/Monat","format":"{{msg.payload}} ppm","layout":"row-spread","x":3010,"y":840,"wires":[]},{"id":"a3341114.3242d8","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":200,"wires":[["45182e24.67bab"]]},{"id":"17b2f922.0f3e7f","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":160,"wires":[["e2943d39.1af778"]]},{"id":"3a1798d1.ff212","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":160,"wires":[["ea561a82.ea8e2"]]},{"id":"b15b4d76.d9c33","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":200,"wires":[["fb433feb.43623"]]},{"id":"9f61ffaa.5966e8","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":240,"wires":[["71277182.76ff4"]]},{"id":"1c675c57.3be154","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":240,"wires":[["cf560ff6.7beab8"]]},{"id":"ea561a82.ea8e2","type":"ui_text","z":"97fd7268.4b1968","group":"cbf72762.6b4f5","order":2,"width":0,"height":0,"name":"","label":"Besucherzahl/Woche","format":"{{msg.payload}}","layout":"row-spread","x":1960,"y":160,"wires":[]},{"id":"fb433feb.43623","type":"ui_text","z":"97fd7268.4b1968","group":"cbf72762.6b4f5","order":1,"width":0,"height":0,"name":"","label":"Besucherzahl/Tag","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":200,"wires":[]},{"id":"cf560ff6.7beab8","type":"ui_text","z":"97fd7268.4b1968","group":"cbf72762.6b4f5","order":3,"width":0,"height":0,"name":"","label":"Besucherzahl/Monat","format":"{{msg.payload}}","layout":"row-spread","x":1960,"y":240,"wires":[]},{"id":"3c70da09.d1704e","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":200,"wires":[["a3341114.3242d8"]]},{"id":"7156b003.c4ed68","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":160,"wires":[["17b2f922.0f3e7f"]]},{"id":"3840bca0.1965cc","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":240,"wires":[["9f61ffaa.5966e8"]]},{"id":"c3b58fbb.aeb6a","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherB WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":420,"wires":[["394e02e5.19f66e"]]},{"id":"394e02e5.19f66e","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":420,"wires":[["3840bca0.1965cc"]]},{"id":"97722961.aa39a","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":740,"wires":[["d713f5ef.b1e44"]]},{"id":"1041e07b.61d3f8","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":700,"wires":[["217d33bd.22500c"]]},{"id":"4dfd7613.49a788","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":700,"wires":[["be08eb23.a361e8"]]},{"id":"e6b3088.1f2c6f8","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":740,"wires":[["ac76d52.37de6a8"]]},{"id":"b9f24f1d.560978","type":"join","z":"97fd7268.4b1968","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"topic","joiner":",","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1370,"y":780,"wires":[["e3d851df.744918"]]},{"id":"b98ee05c.319f4","type":"function","z":"97fd7268.4b1968","name":"Runden","func":"msg.payload = msg.payload.toFixed(0);\nreturn msg;","outputs":1,"noerr":0,"x":1740,"y":780,"wires":[["dfb8f494.8c5fe"]]},{"id":"e632543d.71873","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":740,"wires":[["97722961.aa39a"]]},{"id":"fb71b009.26c158","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":700,"wires":[["1041e07b.61d3f8"]]},{"id":"b5cce602.1634f","type":"function","z":"97fd7268.4b1968","name":"","func":"msg.payload = msg.payload.Besucher;\nreturn msg;\n\n\n","outputs":1,"noerr":0,"x":1190,"y":780,"wires":[["b9f24f1d.560978"]]},{"id":"be08eb23.a361e8","type":"ui_text","z":"97fd7268.4b1968","group":"1e481ffe.00a048","order":1,"width":0,"height":0,"name":"","label":"Besucherzahl/Tag","format":"{{msg.payload}}","layout":"row-spread","x":1950,"y":700,"wires":[]},{"id":"ac76d52.37de6a8","type":"ui_text","z":"97fd7268.4b1968","group":"1e481ffe.00a048","order":2,"width":0,"height":0,"name":"","label":"Besucherzahl/Woche","format":"{{msg.payload}}","layout":"row-spread","x":1960,"y":740,"wires":[]},{"id":"dfb8f494.8c5fe","type":"ui_text","z":"97fd7268.4b1968","group":"1e481ffe.00a048","order":3,"width":0,"height":0,"name":"","label":"Besucherzahl/Monat","format":"{{msg.payload}}","layout":"row-spread","x":1960,"y":780,"wires":[]},{"id":"6d54605b.ef11b8","type":"influxdb in","z":"97fd7268.4b1968","influxdb":"38d30455.0b5534","name":"DB Abfrage ","query":"select * from BesucherM WHERE time> now() -730h;","rawOutput":false,"precision":"","retentionPolicy":"","x":770,"y":1040,"wires":[["dc9da990.66b708"]]},{"id":"dc9da990.66b708","type":"split","z":"97fd7268.4b1968","name":"Split array","splt":"\\n","spltType":"str","arraySplt":"1","arraySpltType":"len","stream":false,"addname":"","x":960,"y":1040,"wires":[["b5cce602.1634f"]]},{"id":"d20a7d84.99e2e","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2380,"y":320,"wires":[["57668579.7a9e44","ae1b2592.db7ea"]]},{"id":"dc1ee23d.a80fb8","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2380,"y":280,"wires":[["2587717f.e44506","f72b946d.591568"]]},{"id":"bebbb59.695b8c8","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2380,"y":360,"wires":[["27453fb7.5ca0e8","67183f75.61582"]]},{"id":"8022cf55.a3af58","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2540,"y":800,"wires":[["2eb231.a19c3dd"]]},{"id":"8a9ab02.f4f82d","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2540,"y":760,"wires":[["8b896d70.76b278"]]},{"id":"7b446c37.26ae4c","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2540,"y":840,"wires":[["fbe4c89f.37be2"]]},{"id":"f0027d78.6ecf3","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2640,"y":1240,"wires":[["3704cbfe.eea50c"]]},{"id":"667fecfb.6e3514","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2640,"y":1200,"wires":[["1f49d61d.e24552"]]},{"id":"8b6bace0.3e796","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":2640,"y":1280,"wires":[["bf389453.5239b"]]},{"id":"5cfecb27.21aedc","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1580,"y":1780,"wires":[["aa8046b7.6a04f"]]},{"id":"b4a80ae4.5b1ec","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1580,"y":1740,"wires":[["f381655b.2c7588"]]},{"id":"cd09e8b5.3729f","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1580,"y":1820,"wires":[["dcafbe9a.dea7b8"]]},{"id":"89fcd452.b005","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1640,"y":2280,"wires":[["7e9930b0.e576b8","21a1716.937368e"]]},{"id":"2808af10.896e78","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1660,"y":2220,"wires":[["3e00575f.7ad92","8d7e8062.c21a8"]]},{"id":"fe90499f.a444f8","type":"calculator","z":"70ceb75.fc651c8","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1640,"y":2320,"wires":[["9485805e.c6fe58","68a3871b.6756e8"]]},{"id":"45182e24.67bab","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":200,"wires":[["b15b4d76.d9c33"]]},{"id":"e2943d39.1af778","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":160,"wires":[["3a1798d1.ff212"]]},{"id":"71277182.76ff4","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":240,"wires":[["1c675c57.3be154"]]},{"id":"d713f5ef.b1e44","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":740,"wires":[["e6b3088.1f2c6f8"]]},{"id":"217d33bd.22500c","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":700,"wires":[["4dfd7613.49a788"]]},{"id":"e3d851df.744918","type":"calculator","z":"97fd7268.4b1968","name":"","inputMsgField":"payload","outputMsgField":"payload","operation":"avg","constant":"","x":1540,"y":780,"wires":[["b98ee05c.319f4"]]},{"id":"a822a44e.465a68","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":850,"y":2680,"wires":[["d011643f.a4f7c8"]]},{"id":"56a7fbaa.d3713c","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":890,"y":3260,"wires":[["5c34d169.e48218"]]},{"id":"88913bd6.11c1d8","type":"e-mail out","z":"825d9825.0bffb","server":"mail.gmx.net","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":910,"y":1140,"wires":[["7c7cb38e.d7aa54"]]},{"id":"4cf68be8.fb72e4","type":"e-mail out","z":"825d9825.0bffb","server":"mail.gmx.net","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":950,"y":1200,"wires":[["4d05f05.7927d9"]]},{"id":"957e9ae4.0b05c8","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":850,"y":2720,"wires":[["c667332f.31eea"]]},{"id":"bd3ad68a.73603","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":850,"y":2760,"wires":[["dacac1ce.18c2"]]},{"id":"b8b8bfde.d522f8","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":850,"y":2940,"wires":[["d1df95f6.95ffd"]]},{"id":"36e77f6f.e727e","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":850,"y":2980,"wires":[["aa01022.2bbaf8"]]},{"id":"6f32d198.e7405","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":848.3333129882812,"y":3041.66650390625,"wires":[["c63f7fef.757438"]]},{"id":"7f0fd7e4.48b81","type":"e-mail out","z":"70ceb75.fc651c8","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":930,"y":3320,"wires":[["ea795d33.0202a"]]},{"id":"41c98ace.176af4","type":"e-mail out","z":"825d9825.0bffb","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":909.9999389648438,"y":1103.333251953125,"wires":[[]]},{"id":"d4896bab.442ed8","type":"e-mail out","z":"825d9825.0bffb","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":970,"y":1280,"wires":[[]]},{"id":"388b800c.edcbd8","type":"e-mail out","z":"97fd7268.4b1968","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":790,"y":1140,"wires":[["2f6e4416.951894"]]},{"id":"b838b0ec.0e54c8","type":"e-mail out","z":"97fd7268.4b1968","server":"smtp.web.de","port":"587","secure":false,"name":"phnowi00@hs-esslingen.de","dname":"E-Mail","x":870,"y":1200,"wires":[["60bbeba2.6d4ce4"]]}]